#mobile_overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	overflow: scroll;
	width: 100vw;
	visibility: hidden;
	opacity: 0;
	z-index: 9999;
	padding:  15px;
	transition: opacity ease .2s;
	height: 0;
}

@media screen and (max-width: 767px) {
	#mobile_overlay.visible {
		visibility:visible;
		opacity: 1;
		transition: opacity ease .2s;
		height: 100vh;
	}	
}
	


#mobile_overlay #mobileCTA {
	position: relative;
	margin:  auto;
	padding: 45px 25px 25px 25px;
	border-radius: 2px;
	background: #fff;
	color: #676767;
	top:  25vh;
	max-width: 550px;
	
	
}
#mobile_overlay #mobileCTA h3 {
	color: #364861;
	font-weight: 500;
}
#mobile_overlay #mobileCTA p.phone-cta {
	font-size: 24px;
	 margin-bottom: 5px;
	padding-bottom: 0;
	color: #F26727;
	
}
#mobile_overlay #mobileCTA p {text-align: center; padding-bottom: 0; margin-bottom: 0;}


#mobile_overlay #close_btn {
	position: absolute;
	top: 0;
	right: 0;
	height:  60px;
	width: 60px;
	padding:  15px;
	color: #fff;
	background: #364861;
	font-size: 30px;
    line-height: 1;
	text-align:  center;
}

.frn_search_box .search-submit {
	outline:0;
	background-color:#F26727;
	display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0.85em 1em;
    margin: 0 0 1rem 0;
    font-size: 0.9rem;
    color: #fefefe;
    text-decoration: none;
}

.frn_search_box .search-field {
	width:50%;
}

.search_results .number {
    font-size: 30px;
}

.single-post h2 {
	font-size:30px;
}

/*---------------
VOB POPUP
-----------------*/
/* .reveal-overlay{
	background-color: rgba(61,71,85,.8);
	padding: 4rem;
}

.reveal-overlay::after{
	content: '';
	position: absolute;
	border-bottom: 100vh solid rgba(0,0,0,.2);
	border-right: 100vw solid transparent;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
} */

#vob-popup.popup-card{
	background-color: #FFFFFF;
	position: relative;
	top: calc(50% - 300px);
	max-width: 1112px;
	margin: 0 auto;
}

#vob-popup.popup-card:focus{
	outline: none;
}

#vob-popup.popup-card .close-button{
	background-color: #D8D8D8;
	width: 46px;
	height: 46px;
	top: 1rem;
	text-align: center;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#vob-popup.popup-card .close-button:hover{
	background-color: #C3C2C2;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#vob-popup.popup-card > .row {
	max-width: none;
}

#vob-popup.popup-card > .row > .columns{
	padding: 0;
	height: 650px;
	position: relative;
}

#vob-popup.popup-card > .row > .columns:first-of-type{
	padding: 0 4rem;
}

#vob-popup.popup-card > .row > .columns:first-of-type .card{
	margin-top: 85px;
}

#vob-popup.popup-card > .row > .columns:last-of-type{
	padding: 0 3rem;
	background-color: #F1F1F2;
}

#vob-popup.popup-card > .row > .columns:last-of-type .card{
	margin-top: 160px;
}

#vob-popup.popup-card h1{
	font-size: 4rem;
	line-height: 1;
	color: #707070;
	text-transform: none;
	max-width: 350px;
	margin-bottom: 0;
}

#vob-popup.popup-card h2{
	font-size: 1.875rem;
	font-weight: 600;
	line-height: 1;
	color: #707070;
	margin-bottom: 1.125rem;
}

#vob-popup.popup-card h3{
	font-size: 1.25rem;
	line-height: 1;
	color: #979797;
	text-transform: none;
	margin-bottom: 2rem;
}

#vob-popup.popup-card p{
	font-size: 1.125rem;
	line-height: 1.625rem;
	color: #707070;
	margin-bottom: 2rem;
}

#vob-popup.popup-card p.phone{
	font-size: 1.5rem;
	line-height: 1rem;
	color: #707070;
	margin-bottom: 0;
	font-weight: 600;
	text-align: center;
}

#vob-popup.popup-card p.privacy-policy{
	font-size: 1rem;
	line-height: 1rem;
	color: #979797;
	text-align: center;
	position: absolute;
	margin-bottom: 0;
	bottom: 1.5rem;
	left: 0;
	right: 0;
}

#vob-popup.popup-card .button.primary{
	font-size: 1.5rem;
	line-height: 1;
	background-color: #D26443;
	box-shadow: 0 9px 18px 0 rgba(0,0,0,0.10);;
	margin-bottom: 1.5rem;
	text-transform: uppercase;
	font-weight: 700;
	width: 100%;
	text-align: center;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#vob-popup.popup-card .button.primary:hover{
	background-color: #C45C3D;
	transform: translateY(2px);
	box-shadow: 2px 4px 8px rgba(0,0,0,.2);
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#vob-popup.popup-card .divider {
	margin: 2rem 0;
	background-color: rgba(151,151,151,.5);
	height: 1px;
	width: 100%;
}

#vob-popup .insurance-container img {
	max-width: 150px;
	margin-bottom: 1.5rem;
}

/* Media Queries*/

@media screen and (max-width: 1139px) and (min-width: 1024px){
	#vob-popup.popup-card > .row > .columns:first-of-type{
		padding: 0 2rem;
	}

	#vob-popup.popup-card > .row > .columns:last-of-type{
		padding: 0 2rem;
	}

	#vob-popup .insurance-container img {
		max-width: 125px;
		margin-bottom: 1.5rem;
	}

	#vob-popup.popup-card h1{
		font-size: 3.5rem;
	}

	#vob-popup.popup-card p{
		font-size: 1.125rem;
		line-height: 1.625rem;
		color: #707070;
		margin-bottom: 1rem;
	}
}/*end media querie 992px - 1139px*/

@media screen and (max-width: 1023px) and (min-width: 769px){
	#vob-popup.popup-card{
		top: calc(50% - 192px);
	}

	#vob-popup.popup-card > .row > .columns{
		height: auto;
	}

	#vob-popup.popup-card > .row > .columns:last-of-type{
		padding: 0 2rem;
	}

	#vob-popup.popup-card > .row > .columns:last-of-type .card{
		margin-top: 0;
		padding: 4rem 0;
	}

	#vob-popup.popup-card h2{
		font-size: 2.75rem;
		text-align: center;
	}

	#vob-popup.popup-card p{
		margin-bottom: 1rem;
	}

	#vob-popup.popup-card p.privacy-policy{
		bottom: 1rem;
	}
}/*end media querie 769px - 991px*/

@media screen and (max-width: 768px){
	.reveal-overlay{
		padding: 1rem;
	}

	#vob-popup.popup-card{
		top: calc(50% - 227px);
	}

	#vob-popup.popup-card > .row > .columns{
		height: auto;
	}

	#vob-popup.popup-card > .row > .columns:last-of-type{
		padding: 0 1.5rem;
	}

	#vob-popup.popup-card > .row > .columns:last-of-type .card{
		margin-top: 0;
		padding: 5rem 0;
	}

	#vob-popup.popup-card h2{
		text-align: center;
	}

	#vob-popup.popup-card p{
		margin-bottom: 1rem;
	}
}/*end media querie 769px - 991px*/

/*-----------------
END VOB POP UP
-------------------*/

/*-----------------
VOB FORM
-------------------*/

#vob-holder {
  background: #F7F7F7;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #393939;
}
#vob-holder h1, #vob-holder h2, #vob-holder h3, #vob-holder h4, #vob-holder h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	line-height: 1.2; }
#vob-holder h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem; }
#vob-holder h5 {
    font-size: 1rem;
    margin: 16px 0; }
#vob-holder label > h5 {
    margin: 8px 0; }
#vob-holder input, #vob-holder textarea, #vob-holder select {
    border-color: #CFCFCF;
    border-radius: 3px; }
#vob-holder input:focus, #vob-holder textarea:focus, #vob-holder select:focus {
     border-color: #287EE2; }
#vob-holder [type='radio'] {
    margin-bottom: 0; }
#vob-holder .optional {
    color: #8E8E8E; }
#vob-holder .button--secure {
    background-image: url("../images/vob-images/lock.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 15% center;
    padding-left: 3.75rem !important;
    background-color: #0AB662;
    border-radius: 3px;
    font-size: 1.375rem;
    font-weight: 700;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);
    border: none; }
    @media screen and (max-width: 39.9375em) {
    #vob-holder .button--secure {
	   	margin-left: auto;
	    margin-right: auto;
	    display: block; } }
#vob-holder .inner {
	padding: 1.875rem 2.8125rem;
    max-width: 600px;
    margin: auto;
    position: relative; }
#vob-holder .inner.alt {
    background: #fff; }
    @media screen and (max-width: 39.9375em) {
    #vob-holder .inner {
        padding: 1.875rem 0.9375rem; } }
#vob-holder .form-tool-tip {
    margin: 0 8px; }
#vob-holder .has-tip{
   	border-bottom: 0;
}
.tooltip.insurance-company, .tooltip.insurance-id, .tooltip.insurance-phone{
	background-color: #FEFEFE;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	max-width: 20rem !important;
}

.tooltip.insurance-company:before, .tooltip.insurance-id:before, .tooltip.insurance-phone:before{
	display: none;
}
#vob-holder #additional-fields {
	display: block;
}
#vob-holder .patient-reveal, #vob-holder .contact-reveal {
	display: none; 
}
#vob-holder .columns:first-of-type{
	padding-left: 0;
}
#vob-holder .columns:last-of-type{
	padding-right: 0;
}

#vob-holder .g-recaptcha {
	padding-bottom: 2rem;
}
@media screen and (max-width: 39.9375em) {
	#vob-holder .columns{
		padding: 0;
	}
}
#vob-holder .columns.end, #vob-holder .inner.alt .columns{
	padding: 0;
}

#vob-holder .row{
	margin: 0;
}
/*-----------------
END VOB FORM
-------------------*/

/*-----------------
VOB PAGE TEMPLATE
-------------------*/
.vob-page-template.main-content{
	background-color: #F7F7F7;
}

.vob-page-template .banner-innerpage{
	margin-bottom: 0;
}

.vob-page-template #content {
	padding-top: 1.875rem;
}
/*-----------------
END VOB PAGE TEMPLATE
-------------------*/


/*-----------------
TABITHA DIGITAL UPDATES
-------------------*/
.accreditation{
	max-width: 100px;
	margin: 0 auto 1rem;
}
/*-----------------
END TABITHA DIGITAL
-------------------*/

/*-----------------
FOOTER ACCREDITATIONS
-------------------*/
.row.footer-accreditations{
	max-width: 500px;
	margin-bottom: 2rem;
}

.row.footer-accreditations .columns{
	height: 150px;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;

}

.row.footer-accreditations .naatp-logo{
	max-width: 75px;
	margin: 0 auto;
}

@media only screen and (max-width:639px){
	.row.footer-accreditations .columns{
		height: auto;
		display: block;
		margin-top:1rem;
	}
}
/*-----------------
END FOOTER ACCREDITATIONS
-------------------*/

/*-----------------
SHORTCODES
-------------------*/

/*Headings*/
#content h1,  #content h2, #content h3, #content h4, #content h5, #content h6 {
	margin-bottom: 1rem;
	color: #353535;
}

#content h1 {
	text-transform: none;
	font-size: 3rem;
	line-height: 1.25;
}

#content h2 {
	font-size: 2.625rem;
	line-height: 1.25;
}

#content h3 {
	font-size: 2.125rem;
	line-height: 1.25;
}

#content h4 {
	font-size: 1.5625rem;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.25;
}

#content h5 {
	font-size: 1.25rem;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1.25;
}

#content h6 {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.25;
}


/*Divider*/
.sl_divider {
	background-color: rgba(137,137,137,.5);
	height: 2px;
	margin: 1.5rem 0;
	width: 100%;
}

/*Columns*/
.sl_columns {
	margin-bottom: 1rem;
}

#content blockquote {
	font-size: 1rem;
	color: #676767;
	line-height: 2rem;
	font-style: normal;
	padding: 0 0 0 30px;
	border-left: 5px solid #F26727;
	margin-bottom: 1.5rem;
}

#content blockquote cite{
	font-size: 1.25rem;
	color: #364861;
	line-height: 1;
	font-style: normal;
	text-transform: uppercase;
	margin-top: .6rem;
}

#content blockquote.secondary{
	padding: 0;
	border: none;
}

/*Lists*/
#content ul:not(.tabs):not(.accordion){
	list-style: none;
	margin-left: 1.5rem;
}

#content ul:not(.tabs):not(.accordion) li{
	margin-bottom: 1rem;
}

#content ul:not(.tabs):not(.accordion) li:before{
	content: '';
	background-color: #F26727;
	border-radius: 50%;
	display: inline-block;
	margin-left: -1.5rem;
	margin-right: 1rem;
	width: .5rem;
	height: .5rem;
	font-size: 1.5rem;
}

#content ul:not(.tabs):not(.accordion).secondary li:before {
	background-color: #364861;
}

#content ul:not(.tabs):not(.accordion).disc li:before {
	background-color: #FFFFFF;
	border: 2px solid #F26727;
	width: 1rem;
	height: 1rem;
	margin-left: -2rem;
	margin-bottom: -3px;
}

/*Callouts*/
#content .sl_callout{
	border: none;
	background-color: #364861;
	padding: 30px;
	margin-bottom: 1.5rem;
}

#content .sl_callout > :last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

#content .sl_callout > * {
	color: #ffffff;
}

#content .sl_callout.secondary > *, #content .sl_callout.border > * {
	color: #353535;
}

#content .sl_callout.primary {
	background-color: #F26727;
}

#content .sl_callout.secondary{
	background-color: #95D2D8;
}

#content .sl_callout.border {
	background-color: #ffffff;
	border: 2px solid #F26727;
}

/*Callout Cards*/
#content .sl_callout-card{
	border: 2px solid #F26727;
 	margin-bottom: 30px;
}

#content .sl_callout-card.primary {
	border: none;
	background-color: #F26727;
}

#content .sl_callout-card.secondary {
	border: none;
	background-color: #95D2D8;
}

#content .sl_callout-card .card-media {
	height: 225px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#content .sl_callout-card .card-content {
	padding: 30px;
}

#content .sl_callout-card .card-content > * {
	color: #353535;
}

#content .sl_callout-card.primary .card-content > * {
	color: #ffffff;
}

#content .sl_callout-card .card-content > :last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}

#content .sl_callout.no-box, #content .sl_callout.no-box-large {
	border: none;
	background: none;
	color: #353535;
	padding: 30px;
	font-size: 1.375rem;
	line-height: 30px;
	font-style: italic;
}

#content .sl_callout.no-box {
	border: none;
	background: none;
	padding: 30px;
	font-size: 1.125rem;
	line-height: 30px;
	font-style: italic;
}


/*Buttons*/
.sl_button {
	background-color: #364861;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.5rem;
	padding: 1rem 2rem;
}

.sl_button:hover {
	background-color: #2a323c;
}

.sl_button.primary {
	background-color: #F26727;
}

.sl_button.primary:hover {
	background-color: #b55339;
}

.sl_button.secondary {
	background-color: #95D2D8;
	color: #353535;
}

.sl_button.secondary:hover {
	background-color: #81b6bb;
	color: #353535;
}

.sl_button.border {
	background-color: #FFFFFF;
	outline: 2px solid #F26727;
	outline-offset: -2px;
	color: #F26727;
}

.sl_button.border:hover {
	background-color: #F26727;
	color: #ffffff;
}

/*Tabs*/
#content .sl_tabs {
	margin: 0;
	background: none;
	padding: 0;
	display: table-cell;
	border: 2px solid #353535;
	border-bottom: 0;
}

#content .sl_tabs.secondary {
	border: none;
}

#content .sl_tabs:not(.secondary) .tabs-title:not(:last-of-type) {
	border-right: 2px solid #353535;
}

#content .sl_tabs .tabs-title {
	background-color: #95D2D8;
	position: relative
}

#content .sl_tabs .tabs-title > a {
	color: #364861;
	font-weight: 700;
	font-size: 1.25rem;
	transition: .2s all ease-in-out;
}

#content .sl_tabs.secondary .tabs-title > a {
	color: #364861;
	font-weight: 400;
	font-size: 1.25rem;
}

#content .sl_tabs .tabs-title > a[aria-selected='true'] {
	background-color: #364861;
	color: #FFFFFF;
}

#content .sl_tabs.secondary .tabs-title > a[aria-selected='true'] {
	background-color: #95D2D8;
	color: #364861;
	font-weight: 700;
}

#content .sl_tabs.secondary .tabs-title:after {
	content: '';
	position: absolute;
	bottom: 0;
	display: block;
	background-color: #F26727;
	height: 0px;
	width: 100%;
	transition: .2s all ease-in-out;
}

#content .sl_tabs.secondary .tabs-title.is-active:after {
	height: 5px;
	transition: .2s all ease-in-out;
}

#content .sl_tabs .tabs-title > a:hover {
	background-color: #69b2b9;
}

#content .sl_tabs-content{
	border: 2px solid #353535;
	margin-bottom: 30px;
}

#content .sl_tabs-content.secondary {
	border: none;
	background-color: #364861;
}

#content .sl_tabs-content.secondary .tabs-panel > * {
	color: #ffffff;
}

#content .sl_tabs-content .tabs-panel {
	padding: 30px;
}

#content .sl_tabs-content .tabs-panel > :last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}

@media screen and (max-width: 640px) {
  #content .sl_tabs {
    display: block;
  }

  #content .sl_tabs .tabs-title {
    width: 100%;
    border-top: 2px solid #353535;
    border-bottom: 2px solid #353535;
    border-left: 0 !important;
    border-right: 0 !important;
  }

  #content .sl_tabs.secondary .tabs-title.is-active:after {
    display: none;
  }

  #content .sl_tabs.secondary .tabs-title > a[aria-selected='true']{
    background-color: #69b2b9;
  }
}

/*Accordions*/
#content .sl_accordion {
	border: 2px solid #353535;
	margin-bottom: 30px;
	padding: 0;
	border-radius: 0;
	background:none;
}

#content .sl_accordion.secondary {
	border: 2px solid #FFFFFF;
}

#content .sl_accordion .accordion-item {
	border: 2px solid #353535;
	margin-bottom: 0;
}

#content .sl_accordion.secondary .accordion-item {
	border: 2px solid #FFFFFF;
	background-color: #364861;
}

#content .sl_accordion .accordion-item.is-active {
	background-color: #95D2D8;
}

#content .sl_accordion .accordion-item .accordion-title{
	border: none;
	background: none;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 600;
	color: #353535;
	padding: 30px;
}

#content .sl_accordion .accordion-item .accordion-title:hover {
	background-color: #69b2b9;
}

@media screen and (max-width: 640px) {
	#content .sl_accordion .accordion-item .accordion-title {
		font-size: 1.25rem;
		font-weight: 600;
		color: #353535;
		padding: 30px;
	}
}

#content .sl_accordion.secondary .accordion-item .accordion-title {
	color: #FFFFFF;
}

#content .sl_accordion.secondary .accordion-item .accordion-title:hover {
	background-color: #353535;
}

#content .sl_accordion .accordion-item.is-active .accordion-title {
	color: #353535;
	box-shadow: none;
}

#content .sl_accordion .accordion-item .accordion-content {
	background: none;
  	padding: 30px;
  	border: none;
}

#content .sl_accordion .accordion-item .accordion-content > * {
	color: #353535;
}

/* READ NEXT SHORTCODE */
.sl_read-next {
	padding: 16px;
	border: 2px solid #ccc;
	border-radius: 5px;
	margin-bottom: 24px;
	font-weight: 600;
}

.sl_read-next.large {
	font-size: 20px;
	padding: 20px;
	background-color: #364861;
	color: #ffffff;
	border: none;
}

.sl_read-next span {
	
	text-transform: uppercase;
}

.sl_read-next a {
	font-weight: 600;
	text-decoration: underline;
}

.sl_read-next a:hover {
	text-decoration: underline;
}


/* CTA SHORTCODE */
.sl_cta {
	background-color: #FEFEFE;
	padding: 32px 48px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 32px;
}

.sl_cta .frn_phone {
	font-family: Effra, sans-serif;
	font-weight: 500;
	font-size: 30px;
}

.sl_cta__text {
	text-align: center;
	padding-top: 32px;
}

.sl_cta .column:first-of-type {
	padding-left: 0;
}

.sl_cta .column:last-of-type {
	border-left: 1px solid #353535;
	padding-right: 0;
}

.sl_cta p {
	color: #353535;
	font-family: Effra, sans-serif;
	font-size: 30px;
	line-height: 1;
	padding: 0 !important;
	margin-bottom: 0;
}

.sl_cta__button_group {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	ms-flex-align: center;
}

.sl_cta__button {
	display: block;
	background-color: #FFFFFF;
	border: 2px solid #F26727;
	font-size: 24px;
	font-weight: 500;
	font-family: Effra, sans-serif;
	padding: 16px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	max-width: 290px;
	margin-left: auto;
	margin-right: auto;
}

.sl_cta a.sl_cta__button:hover {
	background-color: #F26727;
	color: #FFFFFF;
	text-decoration: none;
}

.sl_cta__button_group .sl_cta__button:first-of-type {
	margin-bottom: 16px;
}

/* Inverse styles */
.sl_cta.sl_cta--inverse {
	background-color: #364861;
}

.sl_cta.sl_cta--inverse p {
	color: #FFFFFF;
}

.sl_cta.sl_cta--inverse .column:last-of-type {
	border-left: 1px solid #FFFFFF;
}

/* No Sidebar */
@media only screen and (min-width:1301px) {
	.page-template-full-width .sl_cta .column:first-of-type {
		width: 40%;
	}

	.page-template-full-width .sl_cta .column:last-of-type {
		width: 60%;
		border: none;
	}

	.page-template-full-width .sl_cta__button_group {
		flex-direction: row;
	}

	.page-template-full-width .sl_cta__button:first-of-type {
		margin-bottom: 0;
		margin-right: 16px;
	}

	.page-template-full-width .sl_cta__text {
		padding-top: 0;
	}
}/*End Media Query for no sidebar*/

/*CTA Shortcode Small Only*/
@media only screen and (max-width:639px) {
	.sl_cta {
		padding: 16px;
	}

	.sl_cta__text {
		padding-top: 0;
	}

	.sl_cta .sl_cta__text > *, .sl_cta__button {
		font-size: 20px;
	}

	.sl_cta .column:first-of-type {
		padding: 0;
		margin-bottom: 16px;
	}

	.sl_cta .column:last-of-type {
		border: none;
		padding: 0;
	}

	.sl_cta__button {
		max-width: none;
	}

	.sl_cta.sl_cta--inverse .column:last-of-type {
		border: none;
	}
}

/*-----------------
END SHORTCODES
-------------------*/

/*----------------
Email Form
------------------*/

.sl_card--email {
	padding: 32px;
	max-width: 750px;
	margin: 0 auto;
	background-color: #ffffff;
	border-top: 5px solid #9AD2D9;
	box-shadow: 0px 9px 18px 0 rgba(0,0,0,.15);
	margin-bottom: 24px;
}

#content .sl_card--email h3, .sl_card--email h3  {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1.5rem;
	font-weight: 600;
	line-height: 1;
	padding-bottom: 0;
}

.sl_form--email {
	display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
	-webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
  	-ms-flex-direction: row;
	flex-direction: row;
	padding: 0 5px;
}

.sl_form__multiselect {
	width: 200px;
	max-width: 40%;
	position: relative;
	-webkit-flex: 1 1 40%;
	-ms-flex: 1 1 40%;
	flex: 1 1 40%;
}

.sl_form__input, .sl_form__multiselect__field {
	position: relative;
	background-color: #fefefe;
	padding: 10px 16px;
	border: 1px solid #CACACA;
	font-size: 16px;
	margin: 0 5px;
	height: 46px;
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
}

.sl_form__multiselect__field {
	color: #ABABAB;
	scrollbar-width: none;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	position: relative;
}

.sl_form__multiselect__field::-webkit-scrollbar {
	background: none;
	height: 4px;
}

.sl_form__multiselect__field::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.3);
	border-radius: 2px;
}

.sl_form__multiselect__field:focus {
	border: 1px solid #8a8a8a;
    background-color: #fefefe;
    outline: none;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

.sl_form__input {
	-webkit-flex: 1 1 40%;
  	-ms-flex: 1 1 40%;
  	flex: 1 1 40%;
}

input.sl_form__input::placeholder {
	color: #ABABAB
}

.sl_form__multiselect__options {
	display: none;
	background-color: #ffffff;
	position: absolute;
	width: auto;
	left: 5px;
	right: 5px;
	padding: 5px 0;
	top: calc(100% - 1px);
	z-index: 1;
	box-shadow: 0px 9px 18px 0 rgba(0,0,0,.15);
}

.sl_form__multiselect__options label {
	display: block;
	padding: 5px 10px;
	padding-left: 32px;
	line-height: 1;
	position: relative;
	font-family: proxima-nova, sans-serif;
}

.sl_form__multiselect__options label input {
	position: absolute;
	left: 10px;
	top: calc(50% - 6.5px);
	margin: 0;
}

.sl_form__multiselect__options label:hover {
	background-color: #dadada;
}

.sl_form__multiselect__options {
	font-family: "Source Sans Pro";
}

.sl_card--email .sl_button {
	color: white;
	background-color: #F26727;
	border: none;
	padding: 10px 32px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
}

.sl_form--email .sl_button {
	margin: 0 5px;
	flex: 1 1 auto;
}

.sl_card--email #mce-responses {
	text-align: center;
}

.sl_card--email #mce-responses .response {
	padding: 16px 5px 0px;
}

.sl_card--email #mce-responses .response a {
	display: block;
}

/* Media Query For Small */
@media only screen and (max-width:767px) {
	.sl_card--email {
		padding: 20px;
	}

	.sl_card--email h3 {
		text-align: center;
		font-size: 1.5rem;
		margin-bottom: 1.5rem;
	}

	.sl_form--email {
	    -webkit-box-orient: vertical;
	    -moz-box-orient: vertical;
	    -webkit-flex-direction: column;
	  	-ms-flex-direction: column;
		flex-direction: column;
		padding: 0;
	}

	.sl_form__multiselect {
		width: 100%;
		max-width: none;
	}

	.sl_form__input, .sl_form__multiselect__field {
		margin: 0 0 16px;
	}

	.sl_form--email .sl_button {
		margin: 0;
	}

	.sl_card--email #mce-responses .response {
		padding: 16px 0px 0px;
	}
}/*End Media Query */

/*----------------
End Email Form
------------------*/


/*----------------
FRN TOC
------------------*/
.frn_toc {
	border: none;
	background-color: #f3f3f3;
	border-radius: 5px;
	padding: 16px;
}

.frn_toc h2 {
	font-size: 1.5rem !important;
	padding-bottom: 16px;
	border-bottom: 1.5px solid rgba(47, 47, 47, 0.1);
}

/*----------------
END FRN TOC
------------------*/

