/*
Theme Name: Michael's House
Theme URI: https://wordpress.org/themes/twentyfourteen/
Author: Pyxl, Inc
Author URI: http://thinkpyxl.com/
Version: 1.0
Tags: blog, news, two-columns, three-columns, left-sidebar, right-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, footer-widgets, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

img.alignright{float:right;margin:0 0 1em 1em;}
img.alignleft{float:left;margin:0 1em 1em 0;}
img.aligncenter{display:block;margin-left:auto;margin-right:auto;}
.alignright{float:right;}
.alignleft{float:left;}
.aligncenter{display:block;margin-left:auto;margin-right:auto;}
.row{width:100%;margin-left:auto;margin-right:auto;margin-top:0;margin-bottom:0;max-width:83.75rem;*zoom:1;}
.row:before, .row:after{content:" ";display:table;}
.row:after{clear:both;}
.row.collapse > .column,
.row.collapse > .columns{padding-left:0;padding-right:0;float:left;}
.row.collapse .row{margin-left:0;margin-right:0;}
.row .row{width:auto;margin-left:-0.9375rem;margin-right:-0.9375rem;margin-top:0;margin-bottom:0;max-width:none;*zoom:1;}
.row .row:before, .row .row:after{content:" ";display:table;}
.row .row:after{clear:both;}
.row .row.collapse{width:auto;margin:0;max-width:none;*zoom:1;}
.row .row.collapse:before, .row .row.collapse:after{content:" ";display:table;}
.row .row.collapse:after{clear:both;}
.column,
.columns{padding-left:0.9375rem;padding-right:0.9375rem;width:100%;float:left;}
.panel{border-style:solid;border-width:1px;border-color:#c7cec0;margin-bottom:1.25rem;padding:1.25rem;background:#f1f1f2;}
.panel >:first-child{margin-top:0;}
.panel >:last-child{margin-bottom:0;}
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p{color:#5d5a50;}
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6{line-height:1;margin-bottom:0.625rem;}
.panel h1.subheader, .panel h2.subheader, .panel h3.subheader, .panel h4.subheader, .panel h5.subheader, .panel h6.subheader{line-height:1.4;}
.panel.tan{background:#f6eed4;}
.panel.orange{background:#f07e3e;}
.panel.orange h2{color:#ffffff;}
.panel.white{background:#ffffff;}
.panel.callout{border-style:solid;border-width:1px;border-color:#5d5a50;margin-bottom:1.25rem;padding:1.25rem;background:#8BB6AF;}
.panel.callout >:first-child{margin-top:0;}
.panel.callout >:last-child{margin-bottom:0;}
.panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6, .panel.callout p{color:#FFF;}
.panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6{line-height:1;margin-bottom:0.625rem;}
.panel.callout h1.subheader, .panel.callout h2.subheader, .panel.callout h3.subheader, .panel.callout h4.subheader, .panel.callout h5.subheader, .panel.callout h6.subheader{line-height:1.4;}
.panel.callout a{color:#008cba;}
.panel.radius{-webkit-border-radius:3px;border-radius:3px;}
.accordion{*zoom:1;margin-bottom:0;}
.accordion:before, .accordion:after{content:" ";display:table;}
.accordion:after{clear:both;}
.accordion dd{display:block;margin-bottom:0 !important;}
.accordion dd.active a{background:#e8e8e8;}
.accordion dd > a{background:#efefef;color:#5d5a50;padding:1rem;display:block;font-family:'Lato', "Helvetica Neue", "Helvetica", Helvetica, Arial,sans-serif;font-size:1rem;}
.accordion dd > a:hover{background:#e3e3e3;}
.accordion .content{display:none;padding:0.9375rem;}
.accordion .content.active{display:block;background:white;}
.accordion{padding:.5em 1em;border:1px solid #c7cec0;border-radius:10px;background:#f6eed4;margin-bottom:2.5em;clear:both;}
span.plus{float:right;}