.sl_button {
	text-transform: none;
	font-size: 1.125rem;
	padding: $spacing--xs $spacing--sm;
	background-color: get-color(primary);
	color: get-color(inverse);
	margin-bottom: $spacing--sm;
	line-height: 1;
	display: inline-block;
	text-align: center;

	&--primary {
		background-color: get-color(accent1);

		&:hover {
			background-color: get-color(inverse);
			color: get-color(accent1);
		}//end &:hover
	}//end &--primary

	&--border {
		background: none;
		border: 2px solid get-color(inverse);

		&:hover {
			background-color: get-color(inverse);
			color: get-color(accent1);
		}//end &:hover
	}//end &--border

	&--simple {
		padding: 0;
		background: 0 0;
		position: relative;
		color: get-color(accent1);
		font-weight: 600;
		text-align: left;

		&:after {
			content: '\f054';
			display: inline-block;
			font-family: "FontAwesome";
			margin-left: $spacing--xs/2;
			font-size: 14px;
			width: 10px;
			margin-right: -18px;
		}//end &:after

		&:hover {
			background: none;
			text-decoration: underline;
		}//end &:hover;
	}//end &--simple

	&--secondary {
		border: 2px solid get-color(accent2);
		background-color: transparent;
		color: get-color(default);

		&:hover {
			color: get-color(inverse);
			background-color: get-color(accent2);
		}//end &:hover
	}//end &--secondary

	&--billpay {
		border-radius: 100px;
		font-size: 1.25rem;
		font-weight: 400;
		background-color: get-color(inverse);
		color: get-color(secondary);
		box-shadow: $shadow;
		padding: $spacing--xs $spacing--md;

		&:before {
			content: '\f09d';
			display: inline-block;
			font-family: "FontAwesome";
			margin-right: $spacing--xs;
			font-size: 16px;
		}//end &:before

		&:hover {
			background-color: get-color(accent1);
			color: get-color(inverse);
		}//end &:hover
	}//end &--billpay
}//end .sl_button

.sl_button-group {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;

	.sl_button {
		margin-bottom: 0;
		flex: 1 0 auto;

		@include breakpoint (small only) {
			width: 100%;
		}//end small only breakpoint
	}//end .sl_button

	& > :first-child {
		margin-right: $spacing--xs;

		@include breakpoint (small down) {
			margin-right: 0;
			margin-bottom: $spacing--xs;
		}//end small down breakpoint
	}//end & > :first-child

	@include breakpoint (small down) {
		flex-direction: column;
	}//end small down breakpoint
}//end .sl_button-group