//TABLE OF CONTENTS
// 1. Callout
// 2. Email
// 3. Menu

.sl_footer {
    padding: 0;

    .sl_row {
        display: flex;
        flex-flow: row wrap;
    }//end .sl_row

//=================
// 1. Callout
//=================
    &__callout {
        background: get-color(secondary);
        padding: $spacing--lg*2 0;
        text-align: center;

        @include breakpoint (medium only) {
            padding: $spacing--lg 0;
        }//end medium only breakpoint

        @include breakpoint (small only) {
            padding: $spacing--md 0;
        }//end small only breakpoint

        h2 {
            color: get-color(inverse);
            font-weight: 400;
            margin-bottom: $spacing--sm;

            @include breakpoint (small only) {
                font-size: 1.5rem;
            }//end small only breakpoint

            a {
                font-weight: 700;
            }//end a
        }//end h2

        .sl_button-group {
            max-width: 560px;
            margin: 0 auto;
        }//end sl_button-group
    }//end &__callout 

//=================
// 2. Email
//=================
    &__email {
        background-color: get-color(primary);
        padding: $spacing--xxl 0;

        @include breakpoint (medium only) {
            padding: $spacing--lg 0;
        }//end medium only breakpoint

        @include breakpoint (small only) {
            padding: $spacing--md 0;
        }//end small only breakpoint

        .sl_card--email {
            max-width: none;
            padding: 0;
            border: none;
            background: none;
            box-shadow: none;
            display: flex;
            flex-flow: row wrap;
            margin-bottom: 0;
            width: 100%;

            h3 {
                color: get-color(inverse);
                margin-bottom: 0;
                flex: 0 1 auto;
                align-self: center;
                margin-right: $spacing--xl;

                @include breakpoint (medium only) {
                    text-align: center;
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: $spacing--xs;
                }//end medium only breakpoint

                @include breakpoint (small only) {
                    margin-bottom: $spacing--sm;
                }//end small only breakpoint
            }//end h3

            .sl_button {
                @include breakpoint (small only) {
                    padding: 16px;
                }//end small only breakpoint
            }
        }//end .sl_card--email

        .sl_form {
            flex: 1 1 auto;

            .sl_button {
                text-transform: none;
                font-size: 1.125rem;
            }//end .sl_button
            
            .sl_form__multiselect__field {
                color: get-color(default);
                border: none;
                box-shadow: inset 0 0 7px 0 rgba(0,0,0,0.20);
                font-size: 1.125rem;
            }//end .sl_form__multiselect__field

            .sl_form__input {
                border: none;
                box-shadow: inset 0 0 7px 0 rgba(0,0,0,0.20);
                font-size: 1.125rem;
            }//end .sl_form__input

            input.sl_form__input::placeholder {
                color: get-color(default);
                font-size: 1.125rem;

                @include breakpoint (small only) {
                    text-align: center;
                }//end small only breakpoint
            }//end input input.sl_form__input::placeholder
        }//end .sl_form
    }//end &__email

//=================
// 3. Menu
//=================
    &__menu {
        background-color: get-color(secondary);
        padding: $spacing--xxxl 0;

        @include breakpoint (large only) {
            padding: $spacing--xl 0;
        }//end large only breakpoint

        @include breakpoint (medium down) {
            padding: $spacing--lg 0;
        }//end medium down breakpoint
    }//end &__menu

    &__info {
        & > .sl_cell {
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            &:first-of-type {
                @include breakpoint (large only) {
                    order: 1;
                    width: 70%;
                }//end large only breakpoint

                @include breakpoint (medium only) {
                    order: 1;
                    width: 70%;
                }//end medium only breakpoint
            }//end &:first-of-type

            &:nth-of-type(2) {
                @include breakpoint (large only) {
                    order: 3;
                    width: 100%;
                }//end large only breakpoint

                @include breakpoint (medium only) {
                    order: 3;
                    width: 100%;
                }//end medium only breakpoint
            }

            &:last-of-type {
                justify-content: flex-end;

                @include breakpoint (large only) {
                    order: 2;
                    width: 30%;
                }//end large only breakpoint

                @include breakpoint (medium only) {
                    order: 2;
                    width: 30%;
                }//end medium only breakpoint

                @include breakpoint (small only) {
                    justify-content: stretch;

                    .sl_button {
                        width: 100%;
                    }//end .sl_button
                }//end small only breakpoint
            }//end &:last-of-type;
        }//end & > .sl_cell
    }//med &__infor

    &__brand {
        flex: 0 1 auto;

        @include breakpoint (small only) {
            flex: 1 1 100%;
            max-width: 225px;
            margin: 0 auto $spacing--sm;
        }//end small only breakpoint

        &__logo {
            display: block;
            margin-bottom: $spacing--sm;
            img {
                width: 140px;
                height: 75px;
            }//end img 
        }//end &__logo

        &__social {
            list-style: none;
            margin: 0;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;

            li {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 1px solid get-color(inverse);
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

                @include breakpoint (small only) {
                    width: 50px;
                    height: 50px;
                }//end small only breakpoint
                a {
                    color: get-color(inverse);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: 12px;

                        @include breakpoint (small only) {
                            font-size: 25px;
                        }//end small only breakpoint
                    }//end i
                }//end a
            }//end li
        }//end &__social
    }//end &__brand

    &__address {
        padding-left: $spacing--lg;

        @include breakpoint (xlarge only) {
            padding-left: $spacing--sm;
        }//end xlarge only breakpoint

        @include breakpoint (small only) {
            padding: 0;
            width: 100%;
            margin-bottom: $spacing--sm;
        }//end small only breakpoint
        a {
            color: get-color(inverse);
            p {
                color: get-color(inverse);
                margin-bottom: 0;
                padding-bottom: 0;
            }//end p
        }//end a
    }//end &__address

    &__accred {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        padding-left: $spacing--xl;

        @include breakpoint (xlarge only) {
            padding-left: $spacing--sm;
        }//end xlarge only breakpoint

        @include breakpoint (large only) {
            margin-top: $spacing--md;
            padding: 0;
            align-items: center;
            justify-content: center;
        }//end large only breakpoint

        @include breakpoint (medium only) {
            margin-top: $spacing--md;
            padding: 0;
            align-items: center;
            justify-content: center;
        }//end medium only breakpoint

        @include breakpoint (small only) {
            padding: 0;
            align-items: center;
            justify-content: center;
            margin-bottom: $spacing--sm;
        }//end small only breakpoint
        &__logo {
            &:not(:last-of-type){
                margin-right: $spacing--xs;

                @include breakpoint (small only) {
                    margin-right: $spacing--xs/2;
                }//end small only breakpoint
            }//end &:not(:last-of-type)
            a {
                display: block;
                img {
                    max-width: 100px;
                    height: auto;

                    @include breakpoint (small only) {
                        max-width: 80px;
                    }//end small only breakpoint
                }//end img
            }//end a
        }//end &__logo
    }//end &__accred

    &__navigation {
        padding: $spacing--xxxl 0 $spacing--xxxl - $spacing--xs;

        @include breakpoint (large only) {
            padding: $spacing--xl 0 $spacing--xl - $spacing--xs;
        }//end large only breakpoint

        @include breakpoint (medium only) {
            padding: $spacing--lg 0 $spacing--lg - $spacing--xs;
        }//end medium only breakpoint
        & > .sl_row {
            justify-content: space-between;
            margin: 0 -$spacing--xs/2;

            & > .sl_cell {
                padding: 0 $spacing--xs/2;
            }//end & > .sl_cell
        }//end & > .sl_row

        p {
            margin-bottom: $spacing--xs/2;
            padding-bottom: 0;
            font-weight: 700;
            color: get-color(accent2);
            font-size: 1.125rem;
        }//end p

        ul {
            list-style: none;
            margin: 0;
            margin-bottom: $spacing--xs;

            li {
                a {
                    color: get-color(inverse);

                    &:hover {
                        text-decoration: underline;
                    }//end &:hover
                }//end a
            }//end li
        }//end ul
    }//end &__navigation

    &__bottom {
        text-align: center;
        & > p {
            color: get-color(inverse);
            font-weight: 700;
            line-height: 1;
            font-size: 1.125rem;
            margin-bottom: 0;
            padding-bottom: $spacing--md;

            a {
                display: block;
                color: get-color(accent2) !important;
            }//end a
        }//end & > p

        .frn_footer {
            float: none;
            border-top: 1px solid rgba(get-color(inverse),.5);
            padding-bottom: 0;
            padding-top: $spacing--md;

            p {
                padding-bottom: 0;
                margin-bottom: 0;
            }//end p
        }//end .frn_footer
    }//end &__bottom
}//end .sl_footer


@media only screen and (max-width:640px) {
    .sl_reveal_video {
        height:150px !important;
        min-height: 325px !important;
    }//end .sl_reveal_video
}//end @media only screen and (max-width:640px)