.sl_sticky {
	width: rem-calc(360px);
    position: fixed;
    right: 32px;
    bottom: 15px;
    z-index: 9999;
	background-color: #F26727;
	height: rem-calc(69px);
    overflow: hidden;
    border-radius:4px;
	font-family:proxima-nova;
	box-shadow: $shadow;
	@include transition (all .5s ease-in-out, border-radius .5s ease-in-out .3s, width .5s ease-in-out .3s);

	@include breakpoint (medium only) {
		width: rem-calc(304px);
		height: rem-calc(60px);
	}//end medium only breakpoint

	&:not(.sl_active):hover{
		transform: scale(1.1) translateX(-rem-calc(12px));
	}

	.sl_phone {
		text-align: center;

		&__cta {
			text-transform: none;
            font-size: 1rem;
            font-family: proxima-nova;
            color:#353535;
        }//end &__cta
        
        &__number {
            text-decoration:none;
            color:#F26727;
            font-family: proxima-nova;
            font-size: 32px;
        }
	}//end .sl_phone

	h3 {
        color: #353535;
        line-height: 38px;
        padding-bottom:1rem;
	}//end h3

	.sl_sticky_btn {
		display: block;
		width: 100%;
	}//end .sl_button

	.sl_close_btn {
		text-decoration: underline;
        color: get-color(default);
	}//end a:not(.sl_button)

	&__open {
		opacity: 1;
		z-index: 1;
		cursor: pointer;
		position: absolute;
		display: flex;
		align-items: center;
        justify-content: center;
        font-size:24px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		color: #fff;
        font-family: proxima-nova;
		@include transition (all .5s ease-in-out .5s);

		@include breakpoint (medium only) {
			font-size: 1.25rem;
		}//end medium only breakpoint

		span {
			font-family: FontAwesome;
			margin-left: rem-calc(16px)/2;
		}//end span
	}//end &__open

	.sl_card {
		opacity: 0;
		position: absolute;
		left: 2rem;
		right: 2rem;
		bottom: rem-calc(-338px);
        @include transition (all .5s ease-in-out);
        text-align:center;
	}//end .sl_card

	&.sl_active {
		height: rem-calc(338px);
        border: none;
        background-color:#fff;
		@include transition (all .5s ease-in-out .3s, border-radius .5s ease-in-out, width .5s ease-in-out);
		-webkit-transition: all .5s ease-in-out .3s;
        box-shadow:0 0 10px 0 rgba(0,0,0,0.10), 0 10px 50px 0 rgba(0,0,0,0.10);
		@include breakpoint (medium only) {
			width: rem-calc(349px);
		}//end medium only breakpoint

		.sl_sticky__open {
			z-index: 0;
			opacity: 0;
			@include transition (all .5s ease-in-out);
		}
		.sl_card {
			opacity: 1;
			bottom: 2rem;
			@include transition (all .5s ease-in-out .3s);

			@include breakpoint (medium only) {
				bottom: 1.5rem;
			}//end medium only breakpoint

			.sl_sticky_btn {
                @include transition(none);
                display: block;
                border: 2px solid #9AD2D9;
                text-decoration:none;
                color: #353535;
                font-family: proxima-nova;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                padding: 1rem 2rem;
                margin-bottom:1rem;

				&:hover {
					@include transition(none);
				}//end &:hover
			}//end .sl_sticky_btn
		}//end .sl_card
	}//end &.sl_active
}//end .sl_sticky