$site-palette: (
  primary:    #364861,
  secondary:  #242E3E,
  default:    #343434,
  inverse:    #FFFFFF,
  accent1:    #F26727,
  accent2:    #9AD2D9,
);

//Merging site palette into default foundation palette
$foundation-palette: map-merge(
  (
  primary: #1779ba,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
  ),
  $site-palette
);