/* Header */
#obamacare #topbar {
	background: url(../../style/images/topbar.jpg) top left repeat-x;
	position: relative;
	height: 20px;
}

#obamacare #topbar ul {
	float:right;
	margin-top:-2px;
	left:10px;
	}
	
	#obamacare #topbar ul li {
	list-style-type: none;
	float: left;
	position: relative;
	padding: 3px 0;
	text-align: center;
	}
	
	#obamacare #topbar ul li a{
	display: block;
	font-size:11.5px;
	color:#ebe8d1;
	margin-right:20px;
	}
	
	#obamacare #topbar ul li a:hover{
	color:#d1562d;
	}
	
	#obamacare .orangebox {
	font-size:11.5px;
	color:#fff;
	background:#d1562d;
	font-weight:bold;
	padding:0 15px;
	}
	
	#obamacare #topbar ul.sub-menu {
		display: none;
		position: absolute;
		top: 25px;
		left: -50px;
		padding: 10px 0 10px 10px;
		z-index: 90;
		background: #5d5a51;
	}
	
	#obamacare #topbar ul.sub-menu li {
		text-align: left;
		width:182px;
		left:10px;
		padding:0;
		margin:0;
		padding-right:10px;
		
	}
	
	#obamacare #topbar ul.sub-menu li a {
	color:#ebe8d1;
	font-size:10px;
	}
	
	#obamacare #topbar ul.sub-menu li a:hover {
	color:#d1562d;
	}
	
	#obamacare #topbar li:hover ul.sub-menu {
		display: block;
		color:#d1562d;
	}
	
	#obamacare #topbar li.current_page_item, 
	#obamacare #topbar li.current_page_parent, 
	#obamacare #topbar li.current-cat,
	#obamacare #topbar li.current-cat-parent {
	color:#d1562d;
	}	
	#obamacare #topbar li.current_page_item a, 
	#obamacare #topbar li.current_page_parent a,
	#obamacare #topbar li.current-cat a,
	#obamacare #topbar li.current-cat-parent a {
	color:#d1562d;
	} 	
	#obamacare #topbar li a.current-cat {
	color:#d1562d;
	}	

#obamacare a#logo {
	display: block;
	width: 232px;
	height: 102px;
	background: url(../../style/images/logo.png) top left no-repeat;
	text-indent: -9999px;
}

#obamacare #tagline {
	float: left;
	font-size: 18px;
	color: #d1562d;
	margin-top: -50px;
	margin-left: 20px;
}

#obamacare .hamburger {
	display: block;
	margin-top:-53px;
}

/* --------------------------  Navigation  ---------------------- */
#obamacare #topnav {
clear:both;
height: 50px;
margin-left:10px;
background: #e7e8d1;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

	#obamacare .gethelpnow {

	}
	
	#obamacare .gethelpnow a {
	display:block;
	line-height: 50px;
	background: #d1562d;
	font-weight:bold;
	color: #fff;
	float:left;
	padding: 0 50px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	}
	
	
	#obamacare .gethelpnow a:hover {
	color:#e7e8d1;
	}

	#obamacare #menu {
		position: relative;
		
	}
	
	#obamacare #menu a {
		display: block;
		padding:0 20px 0 20px;
		font-size:14px;
		color:#464646;
	}
	
	#obamacare #menu a:hover {
		color:#d1562d;
	}
	
	#obamacare #menu ul {
		padding-top: 6px;
		/*left:15px;*/
		position: relative;
	}
	
	#obamacare #menu li {
		float: left;
		position: relative;
		padding: 3px 0;
		text-align: center;
		list-style-type: none;
		font-size:14px;
	}
	
	#obamacare #menu ul.sub-menu {
		display: none;
		position: absolute;
		top: 22px;
		left: -50px;
		padding: 10px 0 20px 10px;
		z-index: 90;
		background: #e7e8d1;
	}
	
	#obamacare #menu ul.sub-menu li {
		text-align: left;
		width:210px;
		left:10px;
		padding-right:10px;
		
	}
	
	#obamacare #menu ul.sub-menu li a {
	color:#464646;
	font-size:12px;
	}
	
	#obamacare #menu ul.sub-menu li a:hover {
	color:#d1562d;
	}
	
	#obamacare #menu li:hover ul.sub-menu {
		display: block;
	
	}
	
	#obamacare #menu li.current_page_item, 
	#obamacare #menu li.current_page_parent, 
	#obamacare #menu li.current-cat,
	#obamacare #menu li.current-cat-parent {
	color:#d1562d;
	}	
	#obamacare #menu li.current_page_item a, 
	#obamacare #menu li.current_page_parent a,
	#obamacare #menu li.current-cat a,
	#obamacare #menu li.current-cat-parent a {
	color:#d1562d;
	} 	
	#obamacare #menu li a.current-cat {
	color:#d1562d;
	}
	
	
	

#obamacare .hide {
width:0;
height:0;
}

#obamacare #right-menu {
	margin-right: 10px;
}

#obamacare #right-menu::after {
	content: url(../img/hamburger.png);
	display: inline-block;	
}

/* Headline */
#obamacare .light {
	padding: 2.5em 0 2.5em 0;
}

#obamacare .title{
	padding-top: .35em;
}
/* First Section */
#obamacare .dark {
	background-color: #e1e1dd;
	padding: 2.5em 0 2.5em 0;
}

#obamacare .arrow_fam::before {
	content: url(../img/arrow_fam.png);
	display: block;
}

/*.arrow_fam::after {
	content: url(../img/orange-circle.png);
	display: inline;
	padding-left: 10px;
}*/

#obamacare .alt-h2 {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: 100;
	margin-top:1em;
	margin-bottom: 1.5em;
}
#obamacare .circle-stat {
	background-color: #165e76;
	border-radius: 100%;
	color: #FFF;
	text-transform: uppercase;
	font-family: "futura-pt-condensed",sans-serif;
	font-size: 1.5em;
	line-height: .9;
	width: 100px;
	height: 100px;
	padding: 1em 0 1em 0;
	display: inline-block;
	margin-bottom: 25px;
}

#obamacare .stat-blurb {
	font-size: 0.875em;
	border: solid 2px #e39e3f;
	padding: 5px;
	min-height: 100px;
}

#obamacare li.connected {
	display: inline-block;
	position: relative;
	z-index: 10;
}

#obamacare li.connected::before {
	content: '';
	position: absolute;
	top: 18%;
	left: -22%;
	width: 50%;
	height: 2px;
	background: #e39e3f;
	z-index: -9;
}

#obamacare li.connected::after {
	content: '';
	position: absolute;
	top: 20%;
	margin-left: 0%;
	width: 2px;
	height: 72px;
	background: #e39e3f;
	z-index: -9;
}

#obamacare li.connected:first-child::before {
  display: none;
}


#obamacare .percent {
	padding-top: 1.5em;
}

#obamacare blockquote::before {
	content: url(../img/quote.png);
	position: absolute;
	left: -15px;
}
#obamacare blockquote {
	background: url(../img/quote-end.png) bottom right;
	background-repeat: no-repeat;
}

/* Second Section */
#obamacare h2.section-title {
	text-transform: uppercase;
	font-family: "futura-pt-condensed",sans-serif;
	font-size: 4em;
	line-height: .9;
	padding: 0px 0 25px 0;
}

#obamacare h3.infograph {
	text-transform: uppercase;
	font-family: "futura-pt-condensed",sans-serif;
	font-size: 2.5em;
	margin: 1em 0 1em 0;
}

#obamacare .meter::after {
	content: url(../img/white_arrow.png);
	display: inline-block;
	position: absolute;
	right: -20px;
}

#obamacare .dimmed {
	background: rgba(227, 158, 63, .6);
}

/* Third Section */
#obamacare .residential {
	border-bottom: 4px solid #165e76;
	  background: url(../img/residential.png) no-repeat center bottom; 
	  background-color: #e1e1dd;
	  padding-bottom: 10em;
}

#obamacare .highlight {
	background-color: #e39e3f;
	color:#FFF;
}

#obamacare .arrow-orange {
	padding: 25px 0 25px 0;
}

#obamacare p.arrow-orange::before {
	content: url(../img/arrow_orange.png);
	display: inline-block;
	position: relative;
	top: 5px;
	display: inline-block;
	padding-right: 5px;
}

#obamacare .statline {
	background: #165e76;
	padding: 2px;
	color: #FFF;
	font-size: 120%;
	display: block;
	text-align: center;
	width: 70%;
}

#obamacare ul.number-blocks {
	padding-top: 2em;
}

#obamacare li.connected-numbers::before {
	content: '';
	position: absolute;
	top: 0;
	margin-left: -11%;
	width: 14%;
	height: 2px;
	background: #165e76;
	z-index: -1;
}

#obamacare li.connected-numbers:first-child::before {
	display: none;
}

#obamacare li.connected-numbers::after {
	content: '';
	position: absolute;
	top: 0;
	margin-left: 3%;
	width: 2px;
	height: 35px;
	background: #165e76;
	z-index: -1;
}

/* Fourth Section */
#obamacare .dark-grey{
	color: #5e5e5e;
}

#obamacare .million-blurb {
	font-family: "futura-pt-condensed",sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #FFF;
	font-size: 1.2em;
	line-height:.9;
	margin-top: 20px;
}

#obamacare li.million-blurb img {
	margin-left: auto;
	margin-right: auto;
}

#obamacare .less-pad {
	padding: 1em 0 1em 0!important;
}

/* Fifth Section */
#obamacare .blue-bg {
	background-color: #165e76;
	padding: 2.5em 0 2.5em 0;
}

#obamacare .white {
	color: #FFF;
}

#obamacare .blue {
	color: #165e76;
}

#obamacare .subgraphic {
	font-family: "futura-pt-condensed",sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #165e76;
	font-size: 1.2em;
	line-height: 1;
}

#obamacare .subthin {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	text-transform: initial;
	color: #165e76;
	font-size: .7em;
	line-height: .9;
}
/* Sixth Section */
#obamacare h4 {
	font-family: "futura-pt-condensed",sans-serif;
	text-transform: uppercase;
	color: #165e76;
	font-size: 1.5em;
	line-height: 1;
}

#obamacare #blue-dot {
	margin-top: 2.5em;
}

#obamacare .left-arrow-fam::before {
	content: url(../img/arrow_fam.png);
	float: left;
	display: block;
	margin-right: 15px;
}


#obamacare .arrow_fam_end::after {
	content: url(../img/arrow_fam.png);
	display: inline;
	text-align: left;
	margin-top: -20px;
	padding-left: 10px
}

#obamacare #blue-dot::before {
	display: inline-block;
	float: left;
	content: url(../img/blue_circle.png);
	margin-right: 10px;
}

#obamacare .centered {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*.last-line::before {
	display: inline-block;
	content: url(../img/blue_circle.png);
	position: absolute;
	right: 0;
	margin-right: -8px;
}

.last-line::after {
	border-right: 2px solid #165e76;
	display: inline-block;
	content: '';
	position: absolute;height: 235px;
	right: 0;
	margin-top: -110px;
	border-bottom: 2px solid #165e76;
	width: 25px;
}*/

.last::after {
	content: url(../img/arrow_fam_end.png);
	display: inline-block;
	float: right;
	margin-top: 30px;
}

#obamacare p.last {padding-bottom: 0;}


#impact::before {
	border-left: solid 2px #e39e3f;
	display: inline-block;
	height: 503px;
	width: 72px;
	content: '';
	position: absolute;
	left: 0;
	border-top: solid 2px #e39e3f;
	margin-top: 80px;}

#impact::after {
	border-right: solid 2px #e39e3f;
	display: inline-block;
	height: 503px;
	width: 72px;
	content: '';
	position: absolute;
	right: 0;
	border-top: solid 2px #e39e3f;
	margin-top: -486px;}

#impact-title::before {
	content: url(../img/orange-circle.png);
	margin-top: 17px;
	position: absolute;
	left: 60px;
}

#impact-title::after {
	content: url(../img/orange-circle.png);
	margin-top: -22px;
	position: absolute;
	right: 60px;
}

/* Footer */
/*#footer {
	background-color: #f7f3e7;
}

#connect_block {
	clear: both;
	border-bottom: 1px solid #e3e1ca;
	padding-top: 30px;
	padding-bottom: 30px;
}

a#mh_logo {
	float: left;
	display: block;
	width: 157px;
	height: 67px;
	text-indent: -9999px;
	margin-right: 50px;
	background: url(../../style/images/footer_logo.png) top left no-repeat;
}

#talk_now {
	float: left;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

#talk_now .talk_title {
	display: block;
	font-size: 16px;
	color: #969586;
	line-height: 24px;
}

#talk_now .talk_num {
	line-height: 1em;
	font-size: 30px;
	font-weight: bold;
}

a#foundations_logo {
	float: left;
	display: block;
	width: 157px;
	height: 67px;
	text-indent: -9999px;
	background: url(../../style/images/footer_foundations_logo.png) top left no-repeat;
}

a#carf_logo {
	float: left;
	display: block;
	width: 84px;
	height: 67px;
	text-indent: -9999px;
	background: url(../../style/images/footer_carf_logo.png) top left no-repeat;
}

#connect {
	float: left;
}

#connect p {
	font-weight: bold;
	color: #969586;
	margin-bottom: 5px;
	text-align: center;
}

#connect ul li {
	list-style: none;
	display: inline;
}

#connect ul li a {
	display: block;
	height: 32px;
	width: 32px;
	margin: 0 8px;
	float: left;
	text-indent: -9999px;
}

.icon_facebook {
background: url(../../style/images/icon_facebook.png) top left no-repeat;
}
.icon_twitter {
background: url(../../style/images/icon_twitter.png) top left no-repeat;
}
.icon_youtube {
	background: url(../../style/images/icon_youtube.png) top left no-repeat;
}

#link_block {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e3e1ca;
	padding: 40px 0;
	font-size: 10px;
	color: #969586;
}

#link_block h3 {
	font-size: 10px;
	color: #969586;
	font-weight: bold;
	margin: 0 0 10px 0;
}

#link_block .widget_nav_menu ul {
	margin: 0;
	color: #D1562D;
}

#link_block .widget_nav_menu ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #D1562D;
	line-height: 1.1;
}

#link_block .widget_nav_menu ul li a {
	font-size: 10px;
	color: #d1562d;
}

#link_block .widget_nav_menu a {
	color: #d1562d;
	background: none;
	padding: 0;
	margin: 0;
	line-height: 1em;
	height: 18px;
}

#sub_block {
	border-top: 1px solid #fff;
	padding: 10px 0;
}

#copyright {
	font-size: 10px;
}

#copyright p {
	float: left;
	font-size: 10px;
	color: #969586;
}

#copyright a {
	color: #969586;
}
*/
#lhn_help_btn {
	display: none;
}

/* large displays */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
	}

/* medium displays */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
#impact::before, #impact::after, #impact-title::before, #impact-title::after, .last-line::before, .last-line::before, li.connected::before {display: none;}
.left-arrow-fam::before {
width: 100%;
display: block;
text-align: left;
padding-bottom: 15px;
position: inherit;
padding-left: 0;
}
.residential {background-size: 100%}
.stat-blurb {min-height: 0; margin-right: 10%; margin-left: 10%;}
li.connected::after {height: 85px;}
}

@media only screen and (max-width: 40.063em){ 
.meter::after {right: -14px;top: 16px;}
.title{padding-top: .75em;}
li.connected::before {display: none;}
.statline {width: 100%;font-size:50%;}
#impact::before, #impact::after, #impact-title::before, #impact-title::after, .arrow_fam_end {display: none;}
.left-arrow-fam::before {
width: 100%;
display: block;
text-align: left;
padding-bottom: 15px;
position: inherit;
padding-left: 0;
}
.residential {background-size: 100%}
.stat-blurb {min-height: 0;}
li.connected::after {height: 84px;}
#obamacare #tagline {margin-top:20px;}
}
