.sl_header {
	background-color: get-color(primary);
	position: relative;
	z-index: 999;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.15), 0 10px 50px 0 rgba(0,0,0,0.15);

	.sl_nav {
		background: transparent;
		display: flex;
		padding: 0 $spacing--md;
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.15), 0 10px 50px 0 rgba(0,0,0,0.15);
		height: 100px;

		@include breakpoint (large only) {
			height: 85px;
		}//end large only breakpoint
		

		&__left {
			flex: 0 0 100%;
			height: 100%;
			width: 100%;
			max-width: 188px;
		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			position: relative;
			background-color: get-color(secondary);
			padding: $spacing--sm;
			padding-bottom: 0;

			@include breakpoint (large only) {
				padding: $spacing--xs;
			}//end large only breakpoint

			&:after {
				content:'';
				position: absolute;
				bottom: -24px;
				height: 24px;
				left: 0;
				right: 0;
				background-color: get-color(secondary);
				border-radius: 0 0 8px 8px;

				@include breakpoint (large only) {
					bottom: -16px;
					height: 16px;
				}//end large only breakpoint
			}//end &:after

			img {
				max-height: 75px;

				@include breakpoint (large only) {
					max-height: 70px
				}//end large only breakpoint
			}
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			height: 100%;
			display: flex;
			justify-content: flex-end;
			align-content: center;
		}//end &__right

		&__menu {
			margin-right: $spacing--md - $spacing--sm;
			height: 100%;

			& > .sl_menu {
				background-color: transparent;
				position: static;
				height: 100%;

				& > li {
					margin-bottom: 0;
					height: 100%;
					& > a {
						background-color: transparent;
						color: get-color(inverse);
						padding: 2.5rem $spacing--sm/2;
						@include transition (.2s all ease-in-out);
						font-size: 1.25rem;
						font-weight: 700;
						position: relative;
						height: 100%;

						@include breakpoint (large only) {
							font-size: 1rem;
						}//end large only breakpoint

						&:hover {
							background-color: transparent;
							@include transition (.2s all ease-in-out);
						}//end &:hover
					}//end & > a
					
					//Mega menu hover class
					&.hover {
						& > a {
							background-color: transparent;
							&:after {
						    	@include pseudo;
								width: 0; 
								height: 0; 
								border-left: 16px solid transparent;  /* left arrow slant */
								border-right: 16px solid transparent; /* right arrow slant */
								border-bottom: 16px solid get-color(secondary); /* bottom, add background color here */
								font-size: 0;
								line-height: 0;
								bottom: 0;
								right: calc(50% - 16px);
								z-index: 11;
						    }//end &:after
						}//end a 
					}//end .hover class
				}//end & > li
			}//end .sl_menu
		}//end &__menu

		&__phone {
			display: flex;
			align-items: center;
			justify-content: center;

			.sl_phone {
				background-color: get-color(accent1);
				border-radius: 4px;
				color: get-color(inverse);
				font-size: 1.5rem;
				font-weight: 700;
				text-transform: uppercase;
				padding: $spacing--xs $spacing--sm;
				line-height: 1;

				@include breakpoint (large only) {
					font-size: 1.25rem;
					padding: $spacing--xs;
				}//end large only breakpoint

				.sl_button {
					background: transparent;
					color: get-color(inverse);
					margin-bottom: 0;
					padding: 0;
					font-size: 1.5rem;

					@include breakpoint (large only) {
						font-size: 1.25rem;
					}//end large only breakpoint

					&:hover {
						background: transparent;
						color: get-color(inverse);
					}//end &:hover
				}//end .sl_button
			}//end .sl_phone
		}//end &__phone
	}//end .sl_nav

	.sl_mobilenav {
		height: 76px;
		background-color: get-color(primary);
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.15), 0 10px 50px 0 rgba(0,0,0,0.15);
		padding: $spacing--xs $spacing--sm;

		&__left {
			flex: 0 0 100%;
			height: 100%;
			max-width: 100px;
		}//end &__left

		&__logo {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			height: 100%;

			img {
				max-height: 54px;
			}//end img
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			justify-content: flex-end;

			.sl_button {
				background: none;
				color: get-color(inverse);
				font-size: 1.125rem;
				letter-spacing: 1px;
				padding: 0;
				margin-bottom: 0;
			}//end .sl_button
		}//end &__right
	}//end .sl_mobilenav
}//end .sl_header
