//TABLE OF CONTENTS
// 1. Global
// 2. Billboard
// 3. Duo
// 4. Testimonial / Testimonial Duo
// 5. Spotlight
// 6. Insurance
// 7. Location
// 8. Carousel
// 9. Basic

#sl_homepage {

//=================
// 1. Global
//=================
    h2 {
        font-size: 2rem;
        font-weight: 600;
        color: get-color(secondary);
        margin-bottom: $spacing--sm;

        @include breakpoint (medium only) {
            font-size: 1.75rem;
            margin-bottom: $spacing--xs;
        }//end medium only breakpoint

        @include breakpoint (small only) {
            font-size: 1.5rem;
            margin-bottom: $spacing--xs;
        }//end small only breakpoint
    }//end h2
    p {
        padding-bottom: 0;
        margin-bottom: $spacing--sm;
        color: get-color(default);
        line-height: 1.75rem;
    }//end p

    .sl_row {
        display: flex;
        flex-flow: row wrap;

        @include breakpoint (large) {
            &.large-up-3 & > .sl_cell {
                width: 33.33333%
            }//end &.large-up-3
        }//end large breakpoint

        @include breakpoint (medium only) {
            &.medium-up-2 & > .sl_cell {
                width: 50%
            }//end &.medium-up-2
        }//end medium breakpoint

        @include breakpoint (small only) {
            &.small-up-2 & > .sl_cell {
                width: 50%
            }//end &.small-up-2
        }//end medium breakpoint
    }//end .sl_row

    .sl_module {
        display: block;
        position: relative;
    }//end .sl_module

    .sl_button {
        display: block;
    }//end .sl_button

    .sl_card {
        & > :last-child {
            margin-bottom: 0;
        }//end & > :last-child
    }//end .sl_card

//=================
// 2. Billboard
//=================
    .sl_billboard {
        background: url('/wp-content/themes/michael/images/assets/MH-Treatment-Entrance.jpg') no-repeat bottom;
        background-size: cover;
        width: 100%;
        padding: 160px 0;
        position: relative;
        vertical-align: top;
        z-index: 0;

        @include breakpoint (large only) {
            padding: $spacing--xxl*2 0;
        }//end large only breakpoint

        @include breakpoint (medium only) {
            padding: $spacing--xxxl 0;
        }//end medium only breakpoint

        @include breakpoint (small only) {
            padding: $spacing--xl 0;
        }//end small only breakpoint

        &:after {
            @include pseudo;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(get-color(default), .25);
            z-index: -1;

            @include breakpoint (small only) {
                background-color: rgba(get-color(default), .40);
            }//end small only breakpoint
        }//end &:after

        &__content {

            & > * {
                color: #FFFFFF;
                text-align: center;
            }//end & > *

            h1 {
                font-size: 3rem;
                text-transform: none;
                letter-spacing: 0;
                text-shadow: 0px 5px 15px rgba(0,0,0,.75);
                margin-bottom: 0;
                line-height: 1.25;

                @include breakpoint (medium only) {
                    font-size: 2rem;
                }//end medium only breakpoint

                @include breakpoint (small only) {
                    font-size: 1.75rem;
                }//end small only breakpoint
            }//end h1

            p {
                font-size: 2rem;
                text-shadow: 0px 5px 15px rgba(0,0,0,.75);

                @include breakpoint (medium only) {
                    font-size: 1.5rem;
                }//end medium only breakpoint

                @include breakpoint (small only) {
                    font-size: 1.125rem;
                    font-weight: 700;
                }//end small only breakpoint
            }//end p
        }//end &__content

        .sl_button-group {
            max-width: 560px;
            margin: 0 auto;
        }//end sl_button-group
    }//end .sl_billboard

//=================
// 3. Duo
//=================
    .sl_duo {

        &__content {
            padding: $spacing--xxl $spacing--xl;
            padding-left: $spacing--xl*2;
            max-width: 720px;
            margin-left: auto;

            @include breakpoint (xlarge only) {
                padding-left: $spacing--xxxl;
            }//end xlarge only breakpoint

            @include breakpoint (large only) {
                padding: $spacing--lg;
                padding-left: $spacing--xxl;
            }//end large only breakpoint

            @include breakpoint (medium only) {
                padding: $spacing--md;
            }//end medium only breakpoint

            @include breakpoint (small only) {
                padding: $spacing--md $spacing--sm;
            }//end small only breakpoint

            .sl_button {
                display: inline-block;
                margin-bottom: $spacing--md;

                @include breakpoint (small only) {
                    margin-bottom: $spacing--sm;
                }//end small only breakpoint
            }//end .sl_button
        }//end &__content

        &__media {
            position: relative;
            min-height: 300px;

            @include breakpoint (small down) {
                min-height: 250px;
            }//end small down breakpoint

            &__container {
                position: relative;
                width: 100%;
                height: 100%;
                min-height: 300px;

                @include breakpoint (small down) {
                    min-height: 250px;
                }//end small down breakpoint
            }//end &__container
        }//end &__media

        &__image {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }//end &__image

        &__accreditations {
            .sl_cell {
                padding: 0 $spacing--xs/2;
                width: auto;
                flex: 0 1 auto;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    max-height: 70px;
                    width: auto;
                }//end img
            }//.sl_cell
        }//end &__accreditations

        &__slider {
            position: relative;
            display: flex;
            height: 100%;

            &:after {
                @include pseudo;
                bottom: 0;
                left: 0;
                right: 0;
                height: 50px;
                background-image: linear-gradient(180deg, rgba(36,46,62,0.00) 0%, rgba(36,46,62,0.10) 10%, #242E3E 100%);
                opacity: .5;
            }//end &:after

            .slick-list {
                width: 100%;

                .slick-track, .slick-track div {
                    height: 100%;
                    max-height: 527px;
                    width: 100%;

                    @include breakpoint (xlarge only) {
                        max-height: 576px;
                    }//end xlarge only breakpoint

                    @include breakpoint (large only) {
                        max-height: 570px;
                    }//end large only breakpoint

                    @include breakpoint (medium only) {
                        max-height: 500px;
                    }//end medium only breakpoint
                }//end .slick-track, .slick-track div

                .slick-slide img {
                    object-fit: cover;
                    object-position: center bottom;
                    vertical-align: middle;
                    max-width: 100%;
                    -ms-interpolation-mode: bicubic;
                    height: 100%;
                }//end .slick-slide img
            }//end slick-list

            .slick-dots {
                position: absolute;
                bottom: $spacing--sm;
                margin: 0;
                z-index: 1;

                @include breakpoint (small only) {
                    bottom: $spacing--xs;
                }//end small only breakpoint

                li {
                    position: relative;
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    margin: 0 5px;
                    cursor: pointer;

                    @include breakpoint (small only) {
                        margin: 0 4px;
                        width: 12px;
                        height: 12px;
                    }//end small only breakpoint

                    &.slick-active {
                        button {
                            background-color: get-color(inverse)
                        }//end button
                    }//end &.slick-active

                    button {
                        background-color: transparent;
                        border-radius: 50%;
                        font-size: 0;
                        line-height: 0;
                        display: block;
                        width: 16px;
                        height: 16px;
                        cursor: pointer;
                        border: 1.5px solid get-color(inverse);

                        @include breakpoint (small only) {
                            width: 12px;
                            height: 12px;
                            border-width: 1px;
                        }//end small only breakpoint
                    }//end button
                }//end li
            }//end .slick-dots

            .sl_button--carousel {
                position: absolute;
                width: 25px;
                height: 25px;
                top: calc(50% - 12.5px);

                &:before {
                    display: block;
                    font-family: "FontAwesome";
                    font-size: 25px;
                    color: get-color(inverse);
                    text-shadow: 0px 5px 15px rgba(0,0,0,.15);
                }//end &:before

                &.sl_prev {
                    left: $spacing--sm;
                    right: auto;
                    &:before {
                        content: '\f053';
                    }//end &:before
                }//end &.sl_prev

                &.sl_next {
                    right: $spacing--sm;
                    left: auto;
                    &:before {
                        content: '\f054';
                    }//end &:before
                }//end &.sl_next       
            }//end .sl_button--carousel
        }//end &__slider

        &--dropdown {
        padding: $spacing--xxl 0;
        background-color: get-color(secondary);

        @include breakpoint (large only) {
            padding: $spacing--xl 0;
        }//end large only breakpoint

        @include breakpoint (medium only) {
            padding: $spacing--lg 0;
        }//end medium only breakpoint

        @include breakpoint (small only) {
            padding: $spacing--md 0;
        }//end small only breakpoint

            .sl_duo__content {
                padding: 0 $spacing--xl/2 0 0;

                @include breakpoint (large only) {
                    padding: 0 $spacing--lg/2 0 0;
                }//end large only breakpoint

                @include breakpoint (medium only) {
                    padding: 0 $spacing--sm/2 0 0;
                }//end medium only breakpoint

                @include breakpoint (small only) {
                    padding: 0;
                    margin-bottom: $spacing--sm;
                }//end small only breakpoint

                .sl_card {
                    & > * {
                        color: get-color(inverse);
                    }//end & > *
                }//end .sl_card
            }//end .sl_duo__contentcontent

            .sl_duo__dropdown {
                padding-left: $spacing--xl/2;

                @include breakpoint (large only) {
                    padding-left: $spacing--lg/2;
                }//end large only breakpoint

                @include breakpoint (medium only) {
                    padding-left: $spacing--sm/2;
                }//end medium only breakpoint

                @include breakpoint (small only) {
                    padding: 0;
                }//end small only breakpoint
            }//end .sl_duo__dropdown

            .sl_accordion {
                padding: 0;
                margin: 0;
                background: none;
                border: none;

                &__item {
                    margin-bottom: $spacing--xs;
                    box-shadow: $shadow;

                    &:last-of-type {
                        margin-bottom: 0;
                    }//end &:last-of-type

                    &.is-active {
                        & > .sl_accordion__title {
                            box-shadow: none;
                            background-color: get-color(accent1);
                            color: get-color(inverse);
                            &:before {
                                content:'\f106';
                                color: get-color(inverse);
                            }//end &:before;
                        }//end & > .sl_accordion__title
                    }//end &.is-active
                }//end &__item

                &__title {
                    border: none;
                    border-left: 8px solid get-color(accent1);
                    color: get-color(primary);
                    background-color: get-color(inverse);
                    font-size: 1.5rem;
                    font-weight: 700;
                    padding: $spacing--xs $spacing--md;

                    @include breakpoint (medium down) {
                        font-size: 1.25rem;
                        padding: $spacing--xs $spacing--sm;
                    }//end medium down breakpoint

                    &:before {
                        content:'\f107';
                    }//end &:before;
                }//end &__title

                &__content {
                    border: none;
                    padding: $spacing--md;

                    @include breakpoint (medium down) {
                        padding: $spacing--sm;
                    }//end medium down breakpoint

                    a {
                        width: auto;
                    }//end a
                }//end &__content
            }//end .sl_accordion
        }//end &--dropdown

        &--tabs {
            padding: $spacing--xxl 0;

            @include breakpoint (large only) {
                padding: $spacing--xl 0;
            }//end large only breakpoint

            @include breakpoint (medium only) {
                padding: $spacing--lg 0;
            }//end medium only breakpoint

            & > .sl_inner {
                padding: 0 $spacing--xl;

                @include breakpoint (medium only) {
                    padding: 0 $spacing--md;
                }//end medium only breakpoint
                & > h2 {
                    text-align: center;
                }//end & > h2
            }//end & > .sl_inner

            .sl_duo__content {
                padding: $spacing--xl;

                @include breakpoint (xlarge only) {
                    padding: $spacing--lg;
                }//end xlarge only breakpoint

                @include breakpoint (large only) {
                    padding: 0 $spacing--lg 0 $spacing--sm/2;
                }//end large only breakpoint

                @include breakpoint (medium only) {
                    padding: 0 $spacing--sm 0 $spacing--xs/4;
                }//end medium only breakpoint
            }//end .sl_duo__content

            .sl_tabs {
                background: none;
                border: none;
                display: flex;

                &__title {
                    flex: 1 0 auto;
                    float: none;
                    text-align: center;
                    padding: 0 $spacing--xs/2;
                    opacity: .55;

                    @include breakpoint (xlarge only) {
                        flex: 1 1 auto;
                    }//end xlarge only breakpoint

                    @include breakpoint (large only) {
                        flex: 1 1 auto;
                    }//end large only breakpoint

                    @include breakpoint (medium only) {
                        flex: 1 1 auto;
                        padding: 0 $spacing--xs/4;
                    }//end medium only breakpoint

                    &.is-active {
                        opacity: 1;
                        a {
                            background-color: get-color(secondary);
                            color: get-color(inverse);
                            border-color: get-color(secondary);
                            position: relative;

                            &:after {
                                @include pseudo;
                                width: 0; 
                                height: 0; 
                                border-left: 16px solid transparent;  /* left arrow slant */
                                border-right: 16px solid transparent; /* right arrow slant */
                                border-top: 16px solid get-color(secondary); /* bottom, add background color here */
                                font-size: 0;
                                line-height: 0;
                                bottom: -16px;
                                right: calc(50% - 16px);
                            }//end &:after
                        }//end a
                    }//end &.is-active

                    a {
                        font-size: 1.5rem;
                        color: get-color(default);
                        background-color: get-color(inverse);
                        border: 2px solid get-color(default);
                        font-weight: 700;

                        @include breakpoint (xlarge only) {
                            padding: $spacing--xs;
                        }//end xlarge only breakpoint

                        @include breakpoint (large only) {
                            font-size: 1.25rem;
                            padding: $spacing--xs;
                        }//end large only breakpoint

                        @include breakpoint (medium only) {
                            font-size: 1.125rem;
                            padding: $spacing--xs;
                            height: 100%;
                        }//end medium only breakpoint
                    }//end a
                }//end &__title

                &__content {
                    border: none;
                    background: none;
                }//end &__content

                &__panel {
                    padding: $spacing--xl $spacing--xl 0 0;

                    @include breakpoint (xlarge only) {
                        padding: $spacing--xl $spacing--lg 0 0;
                    }//end xlarge only breakpoint

                    @include breakpoint (large only) {
                        padding: $spacing--lg $spacing--xs/2 0 0;
                    }//end large only breakpoint

                    @include breakpoint (medium only) {
                        padding: $spacing--md $spacing--xs/4 0 0;
                    }//end medium only breakpoint
                }//end &__panel
            }//end .sl_tabs
        }//end &--tabs
    }//end .sl_duo

//==================================
// 4. Testimonial / Testimonial Duo
//==================================
    .sl_testimonial {
        padding: $spacing--xxl 0 $spacing--xxl + $spacing--xs;
        background-color: get-color(inverse);

        @include breakpoint (large only) {
            padding: $spacing--xl 0 $spacing--xl + $spacing--xs;
        }//end large only breakpoint

        @include breakpoint (medium only) {
            padding: $spacing--lg 0 $spacing--lg + $spacing--xs;
        }//end medium only breakpoint

        &__carousel {
            padding-right: $spacing--xl;

            @include breakpoint (large only) {
                padding-right: $spacing--lg/2;
            }//end large only breakpoint

            @include breakpoint (medium only) {
                padding-right: $spacing--sm/2;
            }//end medium only breakpoint

            @include breakpoint (small only) {
                order: 2;
                padding-right: 0;
            }//end small only breakpoint
            blockquote {
                p {
                    font-size: 2.5rem;
                    color: get-color(default);
                    font-style: normal;
                    font-weight: 700;
                    line-height: 3rem;
                    text-align: left;

                    @include breakpoint (large only) {
                        font-size: 2rem;
                        line-height: 1.25;
                    }//end large only breakpoint

                    @include breakpoint (medium down) {
                        font-size: 1.5rem;
                        line-height: 1.25;
                    }//end medium down breakpoint

                    &:before {
                        content:'“';
                        font-size: 3rem;
                        display: block;
                        color: get-color(accent2);

                        @include breakpoint (large down ) {
                            line-height: 1;
                        }//end large down breakpoint
                    }//end &:before
                }//end p

                cite {
                    font-style: normal;
                    text-align: left;

                    span {
                        display: block;
                        font-weight: 600;
                        line-height: 1;
                        &:first-of-type {
                            font-size: 1.25rem;
                            color: get-color(default);
                            margin-bottom: $spacing--xs/2;
                        }//end &:first-of-type

                        &:last-of-type {
                            font-size: 1.125rem;
                            color: darken(get-color(accent2),10%);
                        }//end &:last-of-type
                    }//end span

                    &:before {
                        display: none;
                    }//end &:before
                }//end cite
            }//end blockquote
        }//end &__carousel

        &__media {
            position: relative;
            min-height: 300px;
            padding-left: $spacing--md;
            display: flex;

            @include breakpoint (large only) {
                padding-left: $spacing--lg/2;
            }//end large only breakpoint

            @include breakpoint (medium only) {
                padding-left: $spacing--sm/2;
            }//end medium only breakpoint

            @include breakpoint (small down) {
                min-height: 175px;
                order: 1;
                padding-left: 0;
                box-shadow: $shadow;
                margin-bottom: $spacing--sm;
            }//end small down breakpoint

            &__container {
                position: relative;
                width: 100%;
                height: 100%;
                max-height: 400px;
                align-self: center;
                min-height: 300px;

                @include breakpoint (small down) {
                    min-height: 175px;
                }//end small down breakpoint
            }//end &__container
        }//end &__media

        &__image {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            display:flex;
            align-items: center;
            justify-content: center;
        }//end &__image

        &__button {
            display: inline-block;

            @include breakpoint (small only) {
                width: 45px;
                height: auto;
            }//end small only breakpoint
        }//&__button

        &__slider {
            position: relative;
            height: 100%;

            @include breakpoint (small only) {
                padding-bottom: $spacing--md;
            }//end small only breakpoint

            .slick-list {
                width: 100%;

                .slick-track, .slick-track div {
                    height: 100%;
                    width: 100%;

                    &:focus {
                        outline: none;
                    }//end &:focus
                }//end .slick-track, .slick-track div
            }//end slick-list

            .slick-dots {
                position: absolute;
                bottom: -$spacing--md;
                margin: 0;
                z-index: 1;

                li {
                    position: relative;
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    margin: 0 5px;
                    cursor: pointer;

                    @include breakpoint (small only) {
                        width: 12px;
                        height: 12px;
                        margin: 0 4px;
                    }//end small only breakpoint

                    &.slick-active {
                        button {
                            background-color: get-color(inverse)
                        }//end button
                    }//end &.slick-active

                    button {
                        background-color: transparent;
                        border-radius: 50%;
                        font-size: 0;
                        line-height: 0;
                        display: block;
                        width: 16px;
                        height: 16px;
                        cursor: pointer;
                        border: 1.5px solid get-color(inverse);

                        @include breakpoint (small only) {
                            width: 12px;
                            height: 12px;
                        }//end small only breakpoint
                    }//end button
                }//end li
            }//end .slick-dots

            .sl_button--carousel {
                position: absolute;
                width: 25px;
                height: 25px;
                top: calc(50% - 12.5px);

                &:before {
                    display: block;
                    font-family: "FontAwesome";
                    font-size: 25px;
                    color: get-color(primary);
                    opacity: .3;
                    text-shadow: 0px 5px 15px rgba(0,0,0,.15);
                }//end &:before

                &.sl_prev {
                    left: -$spacing--xl;
                    right: auto;

                    @include breakpoint (large only) {
                        left: - $spacing--md;
                    }//end large only breakpoint
                    &:before {
                        content: '\f053';
                    }//end &:before
                }//end &.sl_prev

                &.sl_next {
                    right: -$spacing--xl;
                    left: auto;

                    @include breakpoint (large only) {
                        right: -$spacing--md;
                    }//end large only breakpoint
                    &:before {
                        content: '\f054';
                    }//end &:before
                }//end &.sl_next       
            }//end .sl_button--carousel
        }//end &__slider
    }//end .sl_testimonial

    .sl_testimonial-duo {
        padding: $spacing--xxl 0 $spacing--xxl + $spacing--xs;

        @include breakpoint (large only) {
            padding: $spacing--xl 0 $spacing--xl + $spacing--xs;
        }//end large only breakpoint

        @include breakpoint (medium only) {
            padding: $spacing--lg 0 $spacing--lg + $spacing--xs;
        }//end medium only breakpoint

        &__content {
            padding: $spacing--lg;
            background-color: #eff3f9;

            @include breakpoint (large only) {
                padding: $spacing--md;
            }//end large only breakpoint

            @include breakpoint (medium down) {
                padding: $spacing--sm;
            }//end medium down breakpoint

            blockquote {
                p {
                    font-size: 2rem;
                    color: get-color(default);
                    font-style: normal;
                    font-weight: 600;
                    line-height: 1.25;
                    text-align: left;

                    @include breakpoint (medium down) {
                        font-size: 1.5rem;
                    }//end medium down breakpoint

                    &:before {
                        content:'“';
                        font-size: 3rem;
                        display: block;
                        color: get-color(accent2);

                        @include breakpoint (large down ) {
                            line-height: 1;
                        }//end large down breakpoint
                    }//end &:before
                }//end p

                cite {
                    font-style: normal;
                    text-align: left;

                    span {
                        display: block;
                        font-weight: 600;
                        line-height: 1;
                        &:first-of-type {
                            font-size: 1.25rem;
                            color: get-color(default);
                            margin-bottom: $spacing--xs/2;
                        }//end &:first-of-type

                        &:last-of-type {
                            font-size: 1.125rem;
                            color: darken(get-color(accent2),10%);
                        }//end &:last-of-type
                    }//end span

                    &:before {
                        display: none;
                    }//end &:before
                }//end cite
            }//end blockquote
        }//end &__carousel

        &__media {
            position: relative;
            min-height: 400px;
            display: flex;

            @include breakpoint (small down) {
                min-height: 250px;
            }//end small down breakpoint

            &__container {
                position: relative;
                width: 100%;
                height: 100%;
                align-self: center;
                min-height: 400px;

                @include breakpoint (small down) {
                    min-height: 250px;
                }//end small down breakpoint
            }//end &__container
        }//end &__media

        &__image {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            display:flex;
            align-items: center;
            justify-content: center;
        }//end &__image

        &__slider {
            position: relative;
            height: 100%;

            @include breakpoint (small only) {
                padding-bottom: $spacing--md;
            }//end small only breakpoint

            .slick-dots {
                position: absolute;
                bottom: -$spacing--md;
                margin: 0;
                z-index: 1;

                li {
                    position: relative;
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    margin: 0 5px;
                    cursor: pointer;

                    @include breakpoint (small only) {
                        width: 12px;
                        height: 12px;
                        margin: 0 4px;
                    }//end small only breakpoint

                    &.slick-active {
                        button {
                            background-color: get-color(inverse)
                        }//end button
                    }//end &.slick-active

                    button {
                        background-color: transparent;
                        border-radius: 50%;
                        font-size: 0;
                        line-height: 0;
                        display: block;
                        width: 16px;
                        height: 16px;
                        cursor: pointer;
                        border: 1.5px solid get-color(inverse);

                        @include breakpoint (small only) {
                            width: 12px;
                            height: 12px;
                        }//end small only breakpoint
                    }//end button
                }//end li
            }//end .slick-dots

            .sl_button--carousel {
                position: absolute;
                width: 25px;
                height: 25px;
                top: calc(50% - 12.5px);

                &:before {
                    display: block;
                    font-family: "FontAwesome";
                    font-size: 25px;
                    color: get-color(primary);
                    opacity: .3;
                    text-shadow: 0px 5px 15px rgba(0,0,0,.15);
                }//end &:before

                &.sl_prev {
                    left: -$spacing--xl;
                    right: auto;

                    @include breakpoint (large only) {
                        left: - $spacing--md;
                    }//end large only breakpoint
                    &:before {
                        content: '\f053';
                    }//end &:before
                }//end &.sl_prev

                &.sl_next {
                    right: -$spacing--xl;
                    left: auto;

                    @include breakpoint (large only) {
                        right: -$spacing--md;
                    }//end large only breakpoint
                    &:before {
                        content: '\f054';
                    }//end &:before
                }//end &.sl_next       
            }//end .sl_button--carousel
        }//end &__slider
    }//end .sl_testimonial-duo

//=================
// 5. Spotlight
//=================
    .sl_spotlight {
        padding: $spacing--xxl 0;
        background-color: get-color(primary);

        @include breakpoint (large only) {
            padding: $spacing--xl 0;
        }//end large only breakpoint

        @include breakpoint (medium only) {
            padding: $spacing--lg 0;
        }//end medium only breakpoint

        @include breakpoint (small only) {
            padding: $spacing--md 0;
        }//end small only breakpoint

        &__content {
            @include breakpoint (small only) {
                margin-bottom: $spacing--sm;
            }//end small only breakpoint
            p {
                font-size: 3rem;
                line-height: 4rem;
                color: get-color(inverse);
                margin-bottom: 0;

                @include breakpoint (xlarge only) {
                    font-size: 2.75rem;
                    line-height: 1.25;
                }//end xlarge only breakpoint

                @include breakpoint (large only) {
                    font-size: 2.5rem;
                    line-height: 1.25;
                }//end large only breakpoint

                @include breakpoint (medium only) {
                    font-size: 2rem;
                    line-height: 1.25;
                }//end medium only breakpoint

                @include breakpoint (small only) {
                    font-size: 1.25rem;
                    line-height: 1.5rem;
                    text-align: center;
                }//end small only breakpoint
            }//end p
        }//end &__content

        &__buttons {
            display: flex;
            flex-flow: column wrap;
            text-align: center;
            justify-content: center;
            padding-left: $spacing--xxl;

            @include breakpoint (large only) {
                padding-left: $spacing--xs;
            }//end large only breakpoint

            @include breakpoint (medium only) {
                padding-left: $spacing--xs;
            }//end medium only breakpoint

            @include breakpoint (small only) {
                padding-left: 0;
            }//end small only breakpoint

            .sl_button {
                &:last-of-type {
                    margin-bottom: 0;
                }//end &:last-of-type;
            }//end .sl_button
        }//end &__buttons
    }//end .sl_spotlight

//=================
// 6. Insurance
//=================    
    .sl_insurance {
        padding: $spacing--xxl 0;

        @include breakpoint (large only) {
            padding: $spacing--xl 0;
        }//end large only breakpoint

        @include breakpoint (medium only) {
            padding: $spacing--lg 0;
        }//end medium only breakpoint

        @include breakpoint (small only) {
            padding: $spacing--md 0;
        }//end small only breakpoint

        &__content {
            padding-right: $spacing--xl;

            @include breakpoint (medium only) {
                padding: $spacing--lg 0;
            }//end medium only breakpoint

            @include breakpoint (medium only) {
                padding-right: $spacing--sm;
            }//end medium only breakpoint

            @include breakpoint (small only) {
                padding-right: 0;
                margin-bottom: $spacing--sm;
            }//end small only breakpoint
        }//end &__content;

        &__media {
            @include breakpoint (medium only) {
                padding: $spacing--lg 0;
            }//end medium only breakpoint
        }

        &__grid {
            justify-content: space-between;
        }//end &__grid

        &__logo {
            padding: $spacing--sm/2;
            display: flex;
            align-items: center;

            img {
                max-width: 150px;
                height: auto;
                width: 100%;
                margin: 0 auto;

                @include breakpoint (medium only) {
                    max-width: 120px;
                }//end medium only breakpoint

                @include breakpoint (small only) {
                    max-width: 125px;
                }//end small only breakpoint
            }//end img
        }//end &__logo

        .sl_button {
            display: block;
        }//end .sl_button
    }//end .sl_insurance

//=================
// 7. Location
//=================
    .sl_location {
        background-image: linear-gradient(180deg, get-color(inverse) 0%, get-color(inverse) 50%, get-color(secondary) 50%);

        & > .sl_inner {
            & > .sl_row {
                box-shadow: $shadow;
            }//end & > .sl_row
        }//end & > .sl_inner

        &__content {
            display: flex;
            align-items:center;
            background-position: center center;
            background-size:cover;
            position: relative;

            @include breakpoint (small only) {
                order: 2;
                background: none !important;
            }//end small only breakpoint
        }//end &__content

        &__card {
            background-color: get-color(inverse);
            padding: $spacing--lg $spacing--xl;
            margin-left: -$spacing--xl;
            box-shadow: $shadow;
            text-align: center;

            @include breakpoint (large only) {
                padding: $spacing--lg;
                margin-left: -$spacing--md;
            }//end large only breakpoint

            @include breakpoint (medium only) {
                padding: $spacing--md;
                margin-left: -$spacing--sm;
            }//end medium only breakpoint

            @include breakpoint (small only) {
                margin: 0;
                width: 100%;
                padding: $spacing--sm $spacing--md;
            }//end small only breakpoint

            h2 {
                margin-bottom: $spacing--xs/2;
            }//end h2

            p {
                line-height: 1.125rem;
            }//end p
        }//end &__card

        &__map {

            @include breakpoint (small only) {
                order: 1;
            }//end small only breakpoint
            &__container {
                width: 100%;
                min-height: 400px;

                @include breakpoint (small only) {
                    min-height: 200px;
                }//end small only breakpoint

                .sl_card {

                    &--map{
        
                        padding: 0;
    
                        .sl_card__image {
                            min-height: 100px;
                            width: 100%;
                            background-position: center center;
                            background-size:cover;
                            position: relative;
                
                            @include breakpoint (small down) {
                                display: none;
                            }//end small only breakpoint
                        }//end &__image
                
                        .sl_card__content {
                            padding: .5rem 1rem;
                            text-align: left;
                            width: auto;
                
                            @include breakpoint (medium down) {
                                width: 100%;
                            }//end small down breakpoint
                            
                            h5 {
                                margin-bottom: 0;
                                font-size: 1rem;
                            }//end 5
                
                            h3 {
                                font-size: 1rem;
                                margin-bottom: $spacing--xs/2;
                                line-height:initial;
                            }//end h3
                
                            .sl_button {
                                font-weight: 400;
                                margin-bottom:0;
                            }//end .sl_button
                        }//end &__content
                    
                    }//end &--map
                }//end .sl_card
                
            }//end &__container

            .sl_ie-error {
                background-color: get-color(warning);
                padding: $spacing--xs;
                top: -50px;
                // margin: 0 auto;
                text-align: center;
                vertical-align: middle;
                border: 1px solid darken(get-color(warning),10%);
                 p {
                     color: get-color(inverse);
                     margin-bottom: 0;
    
                     a {
                         color: get-color(inverse);
                         text-decoration: underline;
                     }//end a
                 }//end p
            }//end .sl_ie-error

        }//end &__map
    }//end .sl_location

//=================
// 8. Carousel (Mobile Only)
//=================
    .sl_carousel {
        padding: $spacing--md 0 $spacing--lg;

        .sl_inner {
            & > h2 {
                text-align: center;
                padding: 0 $spacing--sm;
            }//end & > h2
        }//end .sl_inner
        .sl_program__slider {
            margin: $spacing--sm auto;

            &__slide {
                display: block;
                height: 180px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                position: relative;

                &:after {
                    @include pseudo;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 48px;
                    background-image: linear-gradient(180deg, rgba(36,46,62,0.00) 0%, rgba(36,46,62,0.20) 24%, rgba(get-color(secondary),.5) 100%);
                }//end &:after

                h3 {
                    position: absolute;
                    bottom: $spacing--xs;
                    left: $spacing--xs;
                    right: $spacing--xs;
                    color: get-color(inverse);
                    font-weight: 700;
                    font-size: 1.25rem;
                    line-height: 1;
                    text-align: left;
                    z-index: 1;
                }//end h3
            }//end &__slide

            .slick-list {
                box-sizing: border-box;
                overflow: visible;

                .slick-track {
                    height: 100%;
                    width: 100%;

                    &:focus {
                        outline: none;
                    }//end &:focus
                }//end .slick-track, .slick-track div
            }//end slick-list

            .slick-slide {
                margin: 0 $spacing--xs/2;
                opacity: 0.4;
                transform: translateY($spacing--xs) scale(0.95);
                transition: all 300ms ease;

                &.slick-center {
                    opacity: 1;
                    transform: scale(1);
                    transition: all 300ms ease;
                    box-shadow: $shadow;
                }//end &.slick-center
            }//end .slick-slide

            .slick-dots {
                position: absolute;
                bottom: $spacing--md;
                margin: 0;
                z-index: 1;

                li {
                    position: relative;
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    margin: 0 4px;
                    cursor: pointer;

                    &.slick-active {
                        button {
                            background-color: get-color(primary)
                        }//end button
                    }//end &.slick-active

                    button {
                        background-color: transparent;
                        border-radius: 50%;
                        font-size: 0;
                        line-height: 0;
                        display: block;
                        width: 12px;
                        height: 12px;
                        cursor: pointer;
                        border: 1px solid get-color(primary);
                    }//end button
                }//end li
            }//end .slick-dots
        }//end .sl_program__slider
    }//end .sl_carousel

//=================
// 9. Basic
//=================
    .sl_basic {
        padding: $spacing--xxl 0;

        @include breakpoint (large only) {
            padding: $spacing--xl 0;
        }//end large only breakpoint

        @include breakpoint (medium only) {
            padding: $spacing--lg 0;
        }//end medium only breakpoint

        @include breakpoint (small only) {
            padding: $spacing--md 0;
        }//end small only breakpoint

        &--inverse {
            background-color: get-color(primary);
        }//end &--inverse

        & * {
            color: get-color(inverse);
        }//end & *
    }//end .sl_basic

}//end #sl_homepage

