.sl_inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 $spacing--xl*2;

    @include breakpoint (xlarge only) {
    	padding: 0 $spacing--xxxl;
    }//end xlarge only breakpoint

    @include breakpoint (large only) {
    	padding: 0 $spacing--xxl;
    }//end large only breakpoint

    @include breakpoint (medium only) {
    	padding: 0 $spacing--md;
    }//end medium only breakpoint

    @include breakpoint (small only) {
    	padding: 0 $spacing--sm;
    }//end small only breakpoint

    &--expanded {
        max-width: none;
        padding: 0;
    }//end &--expanded
}//end .sl_inner

//FIX TO PAGE TITLE BANNER
@media only screen and (max-width: 639px) {
	.banner {
	    min-height: 300px;

	    &.banner-innerpage {
	    	padding-top: 80px + 32px;
	    	padding-bottom: 32px;

	    	.caption {
		    	position: relative;
		    	transform: none;

		    	h1 {
		    		padding-bottom: 0;
		    		margin-bottom: 0;
		    	}//end h1
		    }//end .caption
	    }//end &.banner-innerpage
	}//end .banner

	.archive.category .main-content {
		padding-top: 80px + 24px;
	}//end .archive.category .main-content
}//end media only 

.sl_columns, .sl_column {
	margin-bottom: $spacing--sm;
}//end .sl_columns, .sl_column

