.sl_megamenu {
	width: 100%;
	margin: 0 auto !important;
    left: 0 !important;
    right: 0 !important;
    border: none;
    overflow: hidden;
    z-index: -1;
    padding: $spacing--md 0;
    background-color: #2A384C;

    & > .sl_row {
    	display: flex;
    	flex-flow: row wrap;
    	width: 100%;
    	max-width: 1440px;
    	margin: 0 auto;

    	& > .sl_cell {
    		padding: 0 $spacing--lg;
    		flex: 0 0 auto;

    		@include breakpoint (large only) {
    			padding: 0 $spacing--md;
    		}//end large only breakpoint

    		&:first-of-type {
    			width: 60%;
    			display: flex;
    			flex-flow: row wrap;
    			border-right: 2px solid rgba(get-color(inverse), .2);

    			@include breakpoint (large only) {
    				width: 70%;
    			}//end large only breakpoint
    		}//end &:first-of-type

    		&:last-of-type {
    			padding: 0 $spacing--lg - $spacing--xs;
    			width: 40%;
    			display: flex;
    			align-items: center;

    			@include breakpoint (large only) {
    				width: 30%;
    			}//end large only breakpoint
    		}//end &:last-of-type

    		& > .sl_menu {
    			background: none;
    			flex-direction: column;

    			& > li {
    				& > a {
    					color: get-color(inverse);
    					font-size: 1.25rem;
    					font-weight: 700;
    					text-decoration: underline;
    					padding: $spacing--xs;

    					@include breakpoint (large only) {
    						font-size: 1.125rem;
    					}//end large only breakpoint
    				}//end & > a
    			}//end & > li
    		}//end & > .sl_menu
    	}//end & > .sl_cell
    }//end & > .sl_row

    &__image {
    	height: 225px;
    	width: 45%;
    	background-size: cover;
    	background-repeat: no-repeat;

    	//ABOUT MEGAMENU IMAGE
    	@at-root #sl_megamenu--About & {
    		background-image: url("../../images/megamenu/MH-Fountain-Courtyard.jpg")
    	}//end @at-root #sl_mega--About &

    	//ADMISSIONS MEGAMENU IMAGE
    	@at-root #sl_megamenu--Admissions & {
    		background-image: url("../../images/megamenu/MH-Entrance.jpg")
    	}//end @at-root #sl_mega--Admissions &
    }//end &__image

    &__content {
    	width: 55%;
    	padding-left: $spacing--md;

    	* {
    		color: get-color(inverse);
    	}// end *

    	h2 {
    		margin-bottom: $spacing--sm;
    		font-size: 2rem;
    		a {
    			padding: 0;
    		}//end a

    		@include breakpoint (large only) {
    			font-size: 1.5rem;
    			margin-bottom: $spacing--xs;
    		}//end large only breakpoint
    	}//end h2

    	p {
    		font-size: 1.125rem;
    		line-height: 1.5rem;
    		margin-bottom: $spacing--sm;

    		@include breakpoint (large only) {
    			font-size: 1rem;
    		}//end large only breakpoint
    	}//end p

    	.sl_button {
    		background-color: transparent;
    		display: inline-block;
    		padding: $spacing--xs $spacing--md;
    		border: 2px solid get-color(inverse);
    		letter-spacing: 1px;
    		text-transform: uppercase;
    		font-weight: 700;
    		font-size: 1.125rem;
    	}//end .sl_button
    }//end &__content

    &--Treatment {
    	& > .sl_row {
	    	& > .sl_cell {	  
	    	@include breakpoint (large only) {
	    		padding: 0 $spacing--sm;
	    	}//end large only breakpoint  		
	    		&:first-of-type {
	    			width: 60%;
	    			flex-flow: column wrap;

	    			& > .sl_row {
	    				display: flex;
	    				flex-flow: row wrap;
	    				& > .sl_cell {
	    					flex: 0 0 auto;
	    					width: 33.333%;
	    					padding: 0 $spacing--xs;

	    					@include breakpoint (large only) {
	    						padding: 0 $spacing--sm/2;
	    					}//end large only breakpoint

	    					//Residential
	    					&--0 {
	    						.sl_megamenu--Treatment__image {
	    							background-image: url("../../images/megamenu/MH-Treatment-Entrance.jpg");
	    							background-position: center bottom;
	    						}//end .sl_megamenu--Treatment__image
	    					}//end &--0

	    					//Outpatient
	    					&--1 {
	    						.sl_megamenu--Treatment__image {
	    							background-image: url("../../images/megamenu/MH-Outpatient.jpg");
	    							background-position: center top;
	    						}//end .sl_megamenu--Treatment__image
	    					}//end &--1

	    					//Transitional Living
	    					&--2 {
	    						.sl_megamenu--Treatment__image {
	    							background-image: url("../../images/megamenu/MH-Outdoor-Arial.jpg");
	    							background-position: center center;
	    						}//end .sl_megamenu--Treatment__image
	    					}//end &--2
	    					a {
	    						color: get-color(inverse);
	    						font-size: 1.125rem;
	    						font-weight: 700;
	    						padding: 0;
	    						text-decoration: underline;
	    						text-align: center;

	    						@include breakpoint (large only) {
	    							font-size: 1rem;
	    						}//end large only breakpoint
	    					}//end a
	    				}//end & > .sl_cell
	    			}//end & > .sl_row
	    		}//end &:first-of-type


	    		&--1, &:last-of-type {
	    			width: 20%;
	    			flex-flow: column wrap;
	    			align-items: initial;

	    			& > .sl_menu {
	    				margin-bottom: $spacing--md;
		    			& > li {
		    				& > a {
		    					color: get-color(inverse);
		    					font-size: 1.25rem;
		    					font-weight: 400;
		    					text-decoration: underline;
		    					padding: 0;
		    					line-height: 2rem;

		    					@include breakpoint (large only) {
		    						font-size: 1rem;
		    					}//end large only breakpoint
		    				}//end & > a
		    			}//end & > li
		    		}//end & > .sl_menu
	    		}//end &:last-of-type

	    		h2 {
	    			margin-bottom: $spacing--sm;

	    			a {
	    				padding: 0;
	    				color: get-color(inverse);
	    				font-size: 1.5rem;

	    				@include breakpoint (large only) {
		    				font-size: 1.25rem;
		    			}//end large only breakpoint
	    			}//end a
	    		}//end h2
	    	}//end & > .sl_cell
	    }//end & > .sl_row

	    &__image {
	    	height: 125px;
	    	width: 100%;
	    	background-size: cover;
	    	background-repeat: no-repeat;
	   		margin-bottom: $spacing--xs;
	    }//end &__image
    }//end &--Treatment

    &--Resources {
    	& > .sl_row {
	    	& > .sl_cell {
	    		width: 25%;

	    		@include breakpoint (large only) {
	    			padding: 0 $spacing--sm;
	    		}//end large only breakpoint
	    		
	    		&:first-of-type {
	    			width: 25%;
	    			flex-flow: column wrap;
	    		}//end &:first-of-type

	    		&--1, &--2 {
	    			& > .sl_menu {
	    				margin-bottom: $spacing--md;
		    			& > li {
		    				& > a {
		    					color: get-color(inverse);
		    					font-size: 1.25rem;
		    					font-weight: 400;
		    					text-decoration: underline;
		    					padding: 0;
		    					line-height: 2rem;

		    					@include breakpoint (large only) {
		    						font-size: 1.125rem;
		    					}//end large only breakpoint
		    				}//end & > a
		    			}//end & > li
		    		}//end & > .sl_menu

		    		.sl_button--icon {
		    			background: none;
		    			text-decoration: underline;
		    			font-size: 1.125rem;
		    			text-transform: none;
		    			padding: 0;
		    			color: get-color(inverse);
						text-align:left;
		    			&:after {
		    				content: '\f054';
		    				display: inline-block;
		    				font-family: "FontAwesome";
		    				margin-left: $spacing--xs/2;
		    			}//end &:after
		    		}//end .sl_button--icon
	    		}//end &--0, &--1

	    		&--3 {
	    			border-right: 2px solid rgba(get-color(inverse), .2);
	    			border-left: 2px solid rgba(get-color(inverse), .2);

	    			& > .sl_menu {
		    			& > li {
		    				margin-bottom: $spacing--xs;
		    				& > a {
		    					color: get-color(inverse);
		    					font-weight: 400;
		    					text-decoration: underline;
		    					padding: 0;
		    					line-height: 1.75rem;
		    					font-size: 1rem;
		    				}//end & > a
		    			}//end & > li
		    		}//end & > .sl_menu

		    		h2 {
		    			a {
		    				&:after {
		    				content: '\f054';
		    				display: inline-block;
		    				font-family: "FontAwesome";
		    				margin-left: $spacing--xs/2;
		    				color: get-color(inverse);
		    				font-size: 1rem;
		    				}//end &:after
		    			}//end a
		    		}//end h2
	    		}//end &--2

	    		&:last-of-type {
	    			width: 25%;
	    			align-items: flex-start;
	    		}//end &:last-of-type

	    		h2 {
	    			margin-bottom: $spacing--sm;

	    			a {
	    				padding: 0;
	    				color: get-color(inverse);
	    				font-size: 1.5rem;

	    				@include breakpoint (large only) {
	    					font-size: 1.25rem;
	    				}//end large only breakpoint
	    			}//end a
	    		}//end h2
	    	}//end & > .sl_cell
	    }//end & > .sl_row
    }//end &--Resources
}//end .sl_megamenu