.off-canvas-content, .off-canvas-content {
	background: none;
	box-shadow: none;
}
//OFF-CANVAS MENU
#sl_offcanvas {
	&.sl_mobilemenu {
		padding: $spacing--sm $spacing--xs;
		background-color: get-color(primary);
		left: -300px;
		width: 300px;

		&.is-open {
			transform: translate(300px);
		}//end &.is-open
	}//end &.sl_mobilemenu
}//#sl_offcanvas

.sl_mobilemenu {

	&__logo {
		max-width: 100px;
		height: auto;
		display: block;
		margin-bottom: $spacing--sm;
		margin-left: $spacing--sm - $spacing--xs;
	}//end &__search

	& > .sl_menu {
		background-color: transparent;
		padding: 0 $spacing--sm - $spacing--xs;
		margin-bottom: $spacing--md;

		& > li {
			&:not(:last-of-type) {
				border-bottom: 1px solid get-color(secondary);
			}//end &:not(:last-of-type)

			& > a {
				background-color: transparent;
				color: get-color(inverse);
				padding: $spacing--xs 0;
				font-weight: 700;
			}//end & > a

			
			// SECOND LEVEL MENU //
			& > .sl_nested {
				padding: 0 0 $spacing--xs 0;

				& > li {
					margin-bottom: $spacing--xs;

					& > a {
						color: get-color(inverse);
						padding: 0;
					}//end & > a

					// THIRD LEVEL MENU
					& > .sl_nested {
						padding: $spacing--xs 0 0 $spacing--xs;

						& > li {
							margin-bottom: $spacing--xs/2;

							& > a {
								color: get-color(inverse);
								padding: 0;
								font-size: 1rem;
							}//end & > a
						}//end & > li
					}//end & > .sl_nested
				}//end & > li
			}//end & > .sl_nested
		}//end & > li

		li.is-accordion-submenu-parent > a:after {
			border: none;
			content: '\f107';
			font-family: FontAwesome;
			width: auto;
			height: auto;
			font-weight: 700;
			font-size: 1.125rem;
			top: calc(50% - .5625rem);
			margin: 0;
			right: 0; 
		}//end &.is-accordion-submenu-parent > a:after


	}//end .sl_menu

	&__callout {
		border-radius: 4px;
		background-color: get-color(secondary);
		padding: $spacing--xs;

		h4{
			text-align: center;
			line-height: 1;
			color: get-color(inverse);
			font-weight: 700;
			font-size: 1.125rem;
			margin-bottom: $spacing--xs;
		}//end h4

		.sl_button {
			width: 100%;
			display: block;
			padding: $spacing--xs/2 $spacing--sm ;
			color: get-color(inverse);
			text-align: center;
			font-size: 1.25rem;

			&:first-of-type {
				background-color: get-color(accent1);
				margin-bottom: $spacing--xs;
			}//end &:first-of-type

			&:last-of-type {
				background-color: transparent;
				border: 2px solid get-color(inverse);
			}//end &:last-of-type;
		}//end .sl_button

		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end &__callout
	
	&__close {
		position: absolute;
		right: $spacing--sm;
		top: $spacing--sm;
		font-size: 1.125rem;
		z-index: 9999;
		color: get-color(inverse);

		i {
			display: block;
		}//end i
	}//end &__close
}//end .sl_mobilemenu

//OFF CANVAS OVERLAY
.js-off-canvas-overlay {
	background: rgba(get-color(secondary), .60);
}