/*------------------------------------*\
    Header
\*------------------------------------*/

header.light {
	background: #f6eed4;
	/*height: 130px;*/
}

.page-template-template-aca-content-piece-php header.light {min-height: 100px;}

.logo{overflow:hidden; float:left; padding-right: 1em; margin-top: 28px;}
.logo a{display:block;}
.logo img {width: 125px;}

.tagline {
	font-weight: 300;
	font-style: italic;
	margin-top: 60px;
}

#top-nav {
	margin-top: 50px;
	margin-right: 15px;
}

#top-nav, #top-nav ul {
	list-style: none;
}

#top-nav li {
	float: left;
	margin-right:15px;
	text-align: center;
	text-transform: uppercase;
	font-size: .75em;

}

#top-nav li:not(:last-child)::after {
	content: '|';
	display: inline-block;
	margin-left: 15px;
	color: #8bb6af
}

#top-nav ul.sub-menu {
	display: none;
	position: absolute;
	z-index: 99999;
	background-color: rgba(246, 238, 212, .9);
	padding-top: .5em;
	padding-right: .5em;
	padding-bottom: .5em;
}

#top-nav ul.sub-menu li {
	display: block;
	text-align: left;
	float: none;
	margin-left: 1em;
}

#top-nav ul.sub-menu li:after {
	content: '';
	display: none;
}

#top-nav ul li:hover ul.sub-menu{
	display: block;
	margin-left:0;
}

.phone-header {
	margin-top: 35px;
}

.page-template-template-aca-content-piece-php .phone-header {display: none;}

.phone-header a {
	font-style: italic;
	text-decoration: underline;
	font-size: .75em;
}

header .phone {
	font-weight: 700;
	color: #f07e3e;
	font-size: 1.75em;
}

a[href^=tel] {color: inherit;text-decoration: none; font-style: normal;}

/*------------------------------------*\
    Main Nav
\*------------------------------------*/

#main-nav{
	background: #8BB6AF;
	border-top: 1px solid #5d5a50;
	border-bottom: 1px solid #5d5a50;
	height: 72px;
}

#main-nav ul {
	text-align: center;
	margin-left: 0;
	margin-top: 18px;
}

#main-nav li {
	margin-right:35px;
	text-align: center;
	font-size: 1.25em;
	list-style: none;
	display: inline-block;
}

#main-nav li a {
	color: #FFFFFF;
}
#main-nav li a:hover, a:focus {
	color: #f6eed4;	
}

#menu-top-nav li a:hover, a:focus {
	color: #779C96;	
}


#menuIcon img {
	margin-top:25px;
}

#menuIcon.left.x::before {content: url(../images/build/close.png); display: block; margin-top: 25px;}

#menuIcon.left.x img {
	display: none;
}

#bigNav {
	width: 100%;
	position: absolute;
	z-index: 9999;
	background-color:  rgba(211, 216, 202, .9);
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	-webkit-transition: background-color 1s ease-out;
	-moz-transition: background-color 1s ease-out;
	-ms-transition: background-color 1s ease-out;
	-o-transition: background-color 1s ease-out;
	transition: background-color 1s ease-out;
}

#bigNav:hover {
	background-color: rgb(211, 216, 202);
	-webkit-transition: background-color 1s ease-in;
	-moz-transition: background-color 1s ease-in;
	-ms-transition: background-color 1s ease-in;
	-o-transition: background-color 1s ease-in;
	transition: background-color 1s ease-in;
}

#bigNav .menu {
	list-style: none;
	margin-left: 0;
}

#bigNav .menu li a{
	color: #5d5a50;
}

.sidr-inner h1 {padding-top: 15px;}

/*------------------------------------*\
    Home Page
\*------------------------------------*/

.welcome {
	background: url(../images/build/welcome-mh.jpg) no-repeat bottom center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 375px;
}

.welcome h1 {
	font-weight: normal;
	font-style: italic;
	font-size: 2.75em;
	line-height: 1.1;
	padding-top: 2em;
	color: #FFF;
	text-shadow: -1px 1px 10px #5d5a50;
}


.step-1 {
	margin-top: -5em;
	padding: 2em 0 2em 0;
	background: #FFF;
	border-radius: 10px;
	 -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.step-1 h2 {
	margin-bottom: .5rem;
}


.handwriting {
	font-family: 'Rock Salt', cursive;
	font-size: 1.25em;
	margin-bottom: 1.5em;
	padding-left: .5em;
	padding-right: .5em;
}

.step-5>.handwriting {margin-bottom: .5em; font-size: 1.175em;}

.step-1>.handwriting:after {
	content: url(../images/build/hand-arrow.png);
	display: inline-block;
	margin-left: 47px;
	position: absolute;
	margin-top: 10px;
}

.step-5>.handwriting:after {
	content: url(../images/build/hand-arrow.png);
	display: inline-block;
	margin-left: 10px;
	position: absolute;
	margin-top: 10px;
}


.light-block {
	background: #f6eed4;
	border-top: 1px solid #c7cec0;
	border-bottom: 1px solid #c7cec0;
}

.home-entrance-sketch {
	background: url(../images/build/mh-entrance-sketch.jpg) no-repeat bottom center fixed;
	background-attachment: fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 5em;
	padding-bottom: 5em;
}

.home-entrance-sketch .row:first-child {
	margin-bottom: 5em;
}

.home-entrance-sketch .orange {
	font-size: 1.5rem;
	margin-top: 2.5em;
}


.location h3 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.375em;
}

.frame {
	border: 1px solid #c7cec0;
}

.frame img {
	border: 10px solid #FFF;
}

.frame a:hover img {
	opacity: .8;
}

.trusted-treatment {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}

.trusted-treatment h1 {
	font-size: 2.25rem;
	margin:0;
}

.trusted-treatment li {
	height: 80px!important;
}

.trusted-treatment li img {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.trusted-treatment .handwriting {
	margin-bottom: 0;
	line-height: 1.1;
}

.phone-cta {
	font-family: 'Lato', "Helvetica Neue", "Helvetica", Helvetica, Arial,sans-serif;
	font-weight: 700;
	color: #f07e3e;
	font-size: 3rem;
}

.headshot {
	width: 150px;
    height: 150px;
    display: block;
    overflow: hidden;
    border-radius: 100%;
     -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 4px solid white;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(205,210,195,1);
	-moz-box-shadow: 0px 0px 1px 1px rgba(205,210,195,1);
	box-shadow: 0px 0px 1px 1px rgba(205,210,195,1);
    margin-left: auto;
    margin-right:auto;
}

h3#staff-title-hover {
    display: none;
    position: relative;
    margin-top: -88px;
    top: 1;
    line-height: .8;
}
a.headshot-hover:hover h3#staff-title-hover {
}
a.headshot-hover:hover h3#staff-title-hover {
    display: block;
    height: 100%;
    -webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
a.headshot-hover:hover .headshot {
    opacity: 0.2;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

h3#staff-title-hover small {text-shadow: 1px 1px 10px #FFFFFF;}


	.page-template-template-staff-single-php .headshot {margin-right: 1em; margin-bottom: 1em;}

.frame-border {
	display: block;
	border: 4px solid white;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(205,210,195,1);
	-moz-box-shadow: 0px 0px 1px 1px rgba(205,210,195,1);
	box-shadow: 0px 0px 1px 1px rgba(205,210,195,1);
}

.frame-border-large {
	display: block;
	border: 10px solid white;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(205,210,195,1);
	-moz-box-shadow: 0px 0px 1px 1px rgba(205,210,195,1);
	box-shadow: 0px 0px 1px 1px rgba(205,210,195,1);
}

.clearing-blackout .frame-border-large{
	border: 4px solid white;
}

.clearing-blackout .hide {
	display: inline-block!important;
}

/*------------------------------------*\
    STEP BUTTON
\*------------------------------------*/

.step {
	text-transform: uppercase;
	font-size: .875rem;
	margin-right: 2em;
	display: inline-block;
	padding-top: 1em;
	padding-bottom: 1em;
}

.step:after {
	content: '';
	background: url(../images/build/btn-border.jpg);
	background-repeat-y: repeat;
	width: 1px;
	height: 100%;
	position: absolute;
	top: 0;
	margin-left: 1.125em;
}

.step-text {
	font-size: 1.25rem;
	padding-left: .5em;
	padding-right: 1em;
	background-image: url(../images/build/btn-arrow-right.png);
	background-repeat: no-repeat;
	background-position: right;
}

/*.step-text:after {
	content: url(../images/build/btn-arrow-right.png);
	margin-left: 10px;
}*/


.helper {
	font-weight: 300;
}

/*------------------------------------*\
    TEAL BUTTON
\*------------------------------------*/


.arrow {
	background-image: url(../images/build/btn-arrow-right-white.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 1em;
}


/*------------------------------------*\
    DROPDOWN BUTTON
\*------------------------------------*/

.drop {
	padding-right: 0!important;
}

.arrow-drop:after {
	content: url(../images/build/arrow-drop.png);
	margin-left: 2em;
	padding-right: 1em;
	float: right;
	display: inline-block;	
}

.arrow-drop:before {
	content: '';
	background: url(../images/build/btn-border.jpg);
	background-repeat-y: repeat;
	width: 1px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 3em;
}

/*------------------------------------*\
    Footer
\*------------------------------------*/

.palms::before {
	content: '';
	background-image: url(../images/build/palms.png);
	height: 262px;
	background-repeat: no-repeat;
	display: block;
	background-position: center;
	width: 100%;
	z-index: 999;
	margin-top: -262px;
}

.dark {
	background: #d3d8ca;
}

.orange {
	color: #f07e3e;
}

#mobile-footer {
	position: fixed;
	bottom: 0;
	z-index: 9;
	background-color: #ebebdd;
	border-top: 1px solid #c7cec0;
	padding: 0;
}

footer {position: relative; z-index: 1000;}

footer h3 {font-size: 1.75em; line-height: 1.1;}

footer .logo {
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

footer .widget {
	padding: 2.5em 0 2.5em 0;
}

footer .menu {
	list-style: none;
	margin-left: 0;
}

footer .menu li a{
	color: #5d5a50;
}

.social-block, .network-block {padding-top: 2.5em; padding-bottom:2.5em;}

.call-block {padding: 5em 0 2.5em 0;}

.social {
	list-style: none;
	margin-left: 0;
}

.social li {
	display: inline-block;
	float:left;
	margin-right: 20px;
}

.facebook:before {content: ''; background-image: url(../images/build/facebook-sprite.png); width:41px; height: 42px; background-position: 0 0; display: block;}
.twitter:before {content: ''; background-image: url(../images/build/twitter-sprite.png); width:43px; height: 42px; background-position: 0 0; display: block;}
.youtube:before {content: ''; background-image: url(../images/build/youtube-sprite.png); width:42px; height: 42px; background-position: 0 0; display: block;}
.gplus:before {content: ''; background-image: url(../images/build/google-plus-sprite.png); width:41px; height: 42px; background-position: 0 0; display: block;}

.facebook:hover:before, .facebook:focus:before, .twitter:hover:before, .twitter:focus:before, .youtube:hover:before, .youtube:focus:before, .gplus:hover:before, .gplus:focus:before {background-position: 0 100%;}


.frn:before {content: ''; background-image: url(../images/build/frn-sprite.png); width:131px; height: 56px; background-position: 0 0; display: block; margin-left: auto; margin-right: auto;}
.cyn:before {content: ''; background-image: url(../images/build/cyn-sprite.png); width:48px; height: 49px; background-position: 0 0; display: block; margin-left: auto; margin-right: auto;}
.lp:before {content: ''; background-image: url(../images/build/lp-sprite.png); width:74px; height: 45px; background-position: 0 0; display: block; margin-left: auto; margin-right: auto;}
.bb:before {content: ''; background-image: url(../images/build/bb-sprite.png); width:85px; height: 49px; background-position: 0 0; display: block; margin-left: auto; margin-right: auto;}
.dd:before {content: ''; background-image: url(../images/build/dd-sprite.png); width:166px; height: 33px; background-position: 0 0; display: block; margin-left: auto; margin-right: auto;}

.frn:hover:before, .frn:focus:before, .cyn:hover:before, .cyn:focus:before, .lp:hover:before, .lp:focus:before, .bb:hover:before, .bb:focus:before, .dd:hover:before, .dd:focus:before {background-position: 0 100%;}

#copyright {
	background: #ebebdd;
	color: #a6a6a6;
	font-size: .75rem;
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	line-height: 1.2;
}

#copyright a {
	color: #a6a6a6;
}

#copyright .columns {
	height: 51px;
}

#copyright .left {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.frn_footer p {margin-bottom: 0; vertical-align: middle; text-align: left; font-size: .75rem; line-height: 1.2;}

/*------------------------------------*\
    FORMATTING
\*------------------------------------*/

.spacing {
	padding: 5em 0;
}

.bottom-spacing {
	padding-bottom: 5em;
}

.cta-spacing {
	padding: 2.5em 0;
}

.cta-spacing p:last-of-type {
	margin-bottom: 0;
}

.vert-center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.alt-h2 {
	font-size: 1.75rem;
	text-transform: none;
	font-weight: 700;
	margin-bottom: 2.5rem;
	line-height: 1.1;
}
	.page-template-template-treatment-options-php .border-box .alt-h2, .page-template-template-treatment-options-alt-php .border-box .alt-h2 {
		font-size: 1.5rem;
	}

article h2 {margin-bottom: 1em;}

.alt-link {
	font-weight: 700;
	font-style: italic;
	text-decoration: underline;
}

.alt-link:after {
	content:' \00BB';
}

.reading, .checks {
	list-style: none;
}

.reading li {
	background-image: url(../images/build/reading.png);
	background-repeat: no-repeat;
	background-position: 0 0.25em;
	padding-left: 1.875em;
}

.checks li {
	background-image: url(../images/build/check.png);
	background-repeat: no-repeat;
	background-position: 0 0.15em;
	padding-left: 2em;
	padding-bottom: .5em;
}

.map .flex-video {
	height: 300px!important;
	padding: 0;
	border-radius: 10px;
}

.contact-btns {
	display: inline-block;
	padding-top: 1.5em;
	vertical-align: middle;
}

.accredited-bar li {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding-top: 0!important;
	padding-bottom: 0!important;
	text-align: center;
}


.accredited-bar li.orange {
	border-right: 1px solid #c8cfc0;
	font-weight: 700;
	line-height: 1.2;
	font-size: 1.125rem;
	text-align: left;
}

.border-box {
	padding: 1.25em;
	border: 1px solid #c8cfc0;
	margin-bottom: 2.5em;
}
	.page-template-template-treatment-options-php .border-box, .page-template-template-treatment-options-alt-php .border-box {margin-bottom: 0;}

.border-block {
	border-bottom: 1px solid #c8cfc0;
}

.border-block:last-of-type {
	border-bottom: none;
}

.treatment-btn {
	-webkit-transform: translateY(-40%);
	-ms-transform: translateY(-40%);
	transform: translateY(-40%);
}

.accordion {
	padding: .5em 1em;
	border: 1px solid #c7cec0;
	border-radius: 10px;
	background: #f6eed4;
	margin-bottom: 2.5em;
	clear: both;
}

span.plus {float: right;}




/*------------------------------------*\
    INNER PAGE TEMPLATES
\*------------------------------------*/

.banner {padding-top:5em;}
.banner h1 {line-height: .9} 	
.banner .social-share-row {padding-top: 5em;}

	.why-mh {
		background: url(../images/build/why-banner.jpg) no-repeat top center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;
	}
	.treatment-options {
		background: url(../images/build/treatment-banner.jpg) no-repeat top center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;
	}

	.our-locations {
		background: url(../images/build/locations-banner.jpg) no-repeat top center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;
		padding-top: 5em;
	}
		.our-locations h1, .facility h1, .treatment-options h1, .admissions h1 {margin-bottom: 2.5rem;}
		.our-locations .social-share-row, .facility .social-share-row, .admissions .social-share-row, .treatment-options .social-share-row {padding-top: 2.5em;}
	
	.facility {
		background: url(../images/build/why-banner.jpg) no-repeat top center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;
		padding-top: 5em;
		margin-bottom: 2.5em;
	}

	.admissions {
		background: url(../images/build/admissions-banner.jpg) no-repeat top center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;		
	}

	.contact-us {
		background: url(../images/build/contact-banner.jpg) no-repeat top center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;		
	}

.our-locations ul.inline-list, .border-block ul.inline-list {text-align: center;}
.our-locations ul.inline-list li, .border-block ul.inline-list li {float: none; display: inline-block}

.social-share .inline-list {margin-bottom:0;}
.social-share .inline-list li {margin-bottom:.75em!important; margin-left: .5em;}

.social-share-row .label {background-color: transparent!important; border: 1px solid;}
	a.fb-share {border-color: #3b5998!important; color:#3b5998; opacity: .8}
		a.fb-share:hover {border-color: #3b5998!important; color:#3b5998; opacity: 1;}
		a.fb-share:before {content: url(../images/build/fb.png); display: inline-block; float: left; margin-top: -.125rem; margin-right: .25rem;}
	a.twt-share {border-color: #00aced!important; color:#00aced; opacity: .8}
		a.twt-share:hover {border-color: #00aced!important; color:#00aced; opacity: 1;}
		a.twt-share:before {content: url(../images/build/twt.png); display: inline-block; float: left; margin-top: -.125rem; margin-right: .25rem;}
	a.gplus-share {border-color: #dd4b39!important; color:#dd4b39; opacity: .8} 
		a.gplus-share:hover {border-color: #dd4b39!important; color:#dd4b39; opacity: 1;}
		a.gplus-share:before {content: url(../images/build/gplus.png); display: inline-block; float: left; margin-top: -.125rem; margin-right: .25rem;}
	a.li-share {border-color: #007bb6!important; color:#007bb6; opacity: .8}
		a.li-share:hover {border-color: #007bb6!important; color:#007bb6; opacity: 1;}
		a.li-share:before {content: url(../images/build/li.png); display: inline-block; float: left; margin-top: -.125rem; margin-right: .25rem;}

.insurance-logos {
	border-right: 1px solid #c7cec0;	
}

.page-template-template-treatment-options-php #alcohol-rehab:before, .page-template-template-treatment-options-alt-php #alcohol-rehab:before {
	content: url(../images/build/alcohol-rehab.png);
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
}
.page-template-template-treatment-options-php #drug-rehab:before, .page-template-template-treatment-options-alt-php #drug-rehab:before {
	content: url(../images/build/drug-rehab.png);
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
}
.page-template-template-treatment-options-php #alcohol-detox:before, .page-template-template-treatment-options-alt-php #alcohol-detox:before {
	content: url(../images/build/alcohol-detox.png);
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
}
.page-template-template-treatment-options-php #drug-detox:before, .page-template-template-treatment-options-alt-php #drug-detox:before {
	content: url(../images/build/drug-detox.png);
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
}
.page-template-template-treatment-options-php #dual-diagnosis:before, .page-template-template-treatment-options-alt-php #dual-diagnosis:before {
	content: url(../images/build/dual-diagnosis.png);
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
}
.page-template-template-treatment-options-php #intervention:before, .page-template-template-treatment-options-alt-php #intervention:before {
	content: url(../images/build/intervention.png);
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
}

.page-template-template-admissions-alt-php #call:before {
	content: url(../images/build/call.png);
	display: inline-block;
	margin-right: 10px;
	margin-left: -10px;
}
.page-template-template-admissions-alt-php #plan:before {
	content: url(../images/build/plan.png);
	display: inline-block;
	margin-right: 10px;
	margin-left: -10px;
}
.page-template-template-admissions-alt-php #detox:before {
	content: url(../images/build/detox.png);
	display: inline-block;
	margin-right: 10px;
	margin-left: -10px;
}

.last {padding-bottom:20em!important;}

.standard-header {
	padding-top: 2.5em;
	padding-bottom: 0;
	margin-bottom: 2.5em;
	background: url(../images/build/standard-bg.png) no-repeat bottom right; 
	background-color: #f6eed4;
}

	.error404 .standard-header, .search .standard-header, .page-template-template-sitemap-php .standard-header {padding-bottom: 2.5em;}	

#breadcrumb a:before {
	content: url(../images/build/home-icon.png);
	display: inline-block;
}

#bread-wrapper {
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 1em;
	font-size: .75rem;
	color: #c7cec0;
}	
	#bread-wrapper .alt-link {
		font-style: normal;
		font-weight: 300;
		text-decoration: none;
		color: #c7cec0;
	}
	#bread-wrapper li {
		margin-right: .25em;
	}

aside .widget {
	margin-bottom: 5em;
}

aside .widget:last-of-type {
	margin-bottom: 0;
}

aside form {margin-bottom: 2.5em;}

.widget_steps_widget ol {
	border: 2px solid orange;
	border-radius: 10px;
	margin-left: 0;
	margin-bottom: 0;
	list-style: none;
	counter-reset: li-counter !important;
}

.widget_steps_widget li {
	border-bottom: 1px solid orange;
	padding: 1em;
}
	.widget_steps_widget li:last-of-type {
		border-bottom: none;
	}

	.widget_steps_widget li:before {
	 	content: counter(li-counter) '.';
	    counter-increment: li-counter;
	    margin-right: .5em;
	    margin-bottom: .5em;
	    float: left;
	}

.widget_steps_widget a {
	text-decoration: none;
}	

.widget_steps_widget h2 {
	font-family: 'Rock Salt', cursive;
	font-size: 1.25em;
	margin-bottom: 1.5em;
	text-transform: none;
	line-height: 1.5;
}

.widget_steps_widget h2:after {
	content: url(../images/build/hand-arrow.png);
	display: inline-block;
	margin-top: -20px;
	float: right;
}

#further-side .reading {
	margin-left: 0;
}

#further-side .reading li {
	padding: initial;
	padding-left: 1.875em;
	background-position: 0 0.45em;
}

.page-template-template-staff-php section.border-block .row {padding-top: 2.5em; padding-bottom: 2.5em;}
.page-template-template-staff-php .border-block h3 {line-height: .9;}


.postmeta {font-size: 0.8rem; padding-bottom: 1rem; color: #C7CEC0;}

/*------------------------------------*\
    MEDIA QUERIES
\*------------------------------------*/

/*// Small screens*/
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { 
	html {font-size: 90%;}
	#bigNav {display:none;}
	section .columns {margin-bottom: 2.5em;}
		section .columns:last-of-type {margin-bottom: 0;}
	.light {height: initial; border-bottom: 1px solid #5d5a50;}
	#main-nav {display: none;}
	.logo {margin-top: 0; padding: .5em 1em; border-left: 1px solid #5d5a50;}
	.welcome {background: url(../images/build/welcome-mh.jpg) no-repeat bottom center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 375px;}	
		.welcome h1{font-size: 2.5rem; padding-top: 2.5em; text-shadow: -1px 1px 10px #5d5a50;}
	.home-entrance-sketch {background: url(../images/build/mh-entrance-sketch.jpg) no-repeat bottom center; background-color: #f6eed4;}
		.home-entrance-sketch .row:first-child {margin-bottom: 2.5em;}
	.banner {padding-top:2.5em;}
	.why-mh {background: url(../images/build/why-banner.jpg) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
	.treatment-options {background: url(../images/build/treatment-banner.jpg) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
	.our-locations {background: url(../images/build/locations-banner.jpg) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
	.admissions {background: url(../images/build/admissions-banner.jpg) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
	.facility {background: url(../images/build/why-banner.jpg) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
	.contact-us {background: url(../images/build/contact-banner.jpg) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
	.palms::before {background-image: url(../images/build/palms-sm.png); height: 90px;}
	.accredited-bar li, .vert-center {top: initial; -webkit-transform: initial; -ms-transform: initial;transform: initial;}
	.step {display: none;}
	.step:after {display:none;}
	.step-text {padding-left: 0;}
	.tabs dd, .tabs .tab-title {width: 100%}
	footer .widget {padding: .75em 0 .75em 0;}
	.social-block, .network-block {padding-top: .75em; padding-bottom: .75em;}
	.frame-border-large {border: 4px solid white;}
	.step-1>.handwriting:after {display: none;}
	.step-5>.handwriting {font-size: .8rem;}
	.arrow-drop {font-size: 1.2rem;}
	.contact-btns li a{font-size: 1rem!important;}
	.banner .social-share-row {padding-top: 2.5em;}
	.spacing {padding: 2.5em 0;}
	.bottom-spacing {padding-bottom: 2.5em;}
	.tabs dd, .tabs .tab-title {width: 100%}
		.tab-title:first-of-type a {border-top-right-radius: 10px;}
		.tab-title:last-of-type a {border-top-right-radius: 0!important;}
		.tabs-content {border-top-right-radius: 0!important; border-top-left-radius: 0!important;}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/*// Medium screens*/
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	html {font-size: 95%;}
	section .columns {margin-bottom: 2.5em;}
		section .columns:last-of-type {margin-bottom: 0;}
	#main-nav ul {margin-top: 14px; margin-bottom: 14px;}
	#main-nav li {font-size: 1.15em; width: 17%; vertical-align: middle; line-height: 1.2; margin-right: 10px; }
	.welcome {background: url(../images/build/welcome-mh.jpg) no-repeat bottom center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
		.welcome h1 {text-shadow: -1px 1px 10px #5d5a50;}
	.home-entrance-sketch {background: url(../images/build/mh-entrance-sketch.jpg) no-repeat bottom center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
		.home-entrance-sketch .row:first-child {margin-bottom: 0;}
	.why-mh {background: url(../images/build/why-banner.jpg) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
	.facility {background: url(../images/build/why-banner.jpg) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
	.treatment-options {background: url(../images/build/treatment-banner.jpg) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
	.our-locations {background: url(../images/build/locations-banner.jpg) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
	.admissions {background: url(../images/build/admissions-banner.jpg) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
	.contact-us {background: url(../images/build/contact-banner.jpg) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
	.palms::before {background-image: url(../images/build/palms-med.png); height: 180px;}	
	.widget_steps_widget h2:after {margin-top: 10px;}
	.accredited-bar li, .vert-center {top: initial; -webkit-transform: initial; -ms-transform: initial;transform: initial;}
	.step {margin-right: 0; display: block; padding-top: 0; padding-bottom: .25em;}
	.step:after {display:none;}
	.step-text {padding-left: 0;}
	.tabs dd, .tabs .tab-title {width: 100%}
		.tab-title:first-of-type a {border-top-right-radius: 10px;}
		.tab-title:last-of-type a {border-top-right-radius: 0!important;}
		.tabs-content {border-top-right-radius: 0!important; border-top-left-radius: 0!important;}
	footer .widget {padding: 1.5em 0 1.5em 0;}	
	.social-block, .network-block {padding-top: 1.5em; padding-bottom: 1.5em;}
	.step-1>.handwriting:after {display: none;}
	.arrow-drop:after, .arrow-drop:before {display: none;}
	.drop {padding-right:2.25rem!important;}
	/*.contact-btns {padding-top: initial; padding-left: 1rem;}*/
	.step-5>.handwriting {margin-bottom: 1.5rem;}
	.step-5>.handwriting:after {margin-left: initial;}
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/*// Large screens*/
@media only screen and (min-width: 64.063em) {} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/*// XLarge screens*/
@media only screen and (min-width: 90.063em) { 
	.trusted-treatment h1 {font-size:2.75rem;}
} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/*// XXLarge screens*/
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */

/*// RETINA screens*/
@media only screen and (-webkit-min-device-pixel-ratio: 2),(min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {}